[2019-11-26 01:59] #220 closed

[2019-11-26 02:28] douglasg14b commented on #201
Also having this issue.

If I try and add the columns, it throws the error, yet if I deploy a release build it stops writing to those columns.... And dumps it all in properties.

[2019-12-02 08:54] FrancescoBonizzi opened #221 "Logs retention"
Hi! Can I ask if you have any built-in solution to manage logs retention? I tried to search some information about it in this repository but I didn't find anything.

Thanks a lot!

[2019-12-12 14:36] zengouu opened #223 "Using MS SQL Server Sink with .NET Core 3.0"
I'm trying to use this sink with .NET Core 3.0 and can't seem to get any errors with my current configuration. Table is created automatically but no lines are inserted into the table when using logger. Is this a issue with my implementation or just lack of support for .NET Core 3.0 ?

I'm using following versions
Serilog.AspNetCore 3.2.0
Serilog.Sinks.MSSqlServer 5.1.3

My code in Program.cs is fo

[2019-12-13 08:57] zengouu commented on #223
It was this line in first code block that was wrong:

[code]

And it should be:

[code]

So just a rookie mistake.
I can now confirm this sink works with .NET Core 3.0 and .NET Core 3.1

[2019-12-13 08:57] #223 closed

[2019-12-13 16:25] adrbin commented on #214
I have a similar problem. Passing incorrect arguments to the log method caused that subsequent logs were not logged to the MSSQL Server sink. Other sinks like Seq or RollingFile are working correctly.

[2019-12-23 19:36] talley opened #224 "Why not use generics of WriteTo.MSSqlServer?"
Can you implement the generic version of the configuration?
Something like:
   .WriteTo.MSSqlServer<User>(options)
options should include PluralizeTabe(property)=true/false
This should create Users(T) table if it does not exist.

[2020-01-13 18:21] ckadluba commented on #187
I also vote for having datetimeoffset as the datatype for the TimeStamp standard column. Just changing it from DateTime to DateTimeOffset, worked for me as well without any problems, given that the corresponding column in my DB was of type datetimeoffset.

But when unconditionally changing just the type of the column from DateTime to DateTimeOffset, there will be problems when the DB column is of

[2020-01-14 07:59] hubo0831 opened #226 "can this sink enhance to support universal ado database providers?"
let it easy to extend to mysql etc.

[2020-01-15 00:32] SvenAtGit opened #227 "AdditionalColumns are having value null dotNet Core 3.1"
writing logs to AdditionalColumns are having value null dotNet Core 3.1, the stand fields are filled in

- Serilog: version 2.9.0
- Serilog.Sinks.MSSqlServer: version 5.1.3

[ x] .NET Core 3.1
OS: Windows 10

[code]
...
Writing to the mssql works for the stand fields but not for the custom addional Columns.
Is there a workaround available?

[2020-01-15 00:32] SvenAtGit commented on #227
[issue_additional_collums_values_are_null.zip](https://github.com/serilog/serilog-sinks-mssqlserver/files/4062481/issue_additional_collums_values_are_null.zip)

[2020-01-15 18:58] teamboyd opened #228 "How to add Response Body to MessageTemplate?"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2020-01-15 21:33] SvenAtGit commented on #227
I think the issue is in the class MSSqlServerSinkTraits
Inside the following method

[code]

[2020-01-17 19:06] SvenAtGit commented on #227
Seems i was passing the parameter not correctly in to The write method
So this issue can be closed :-)
        public static void WriteError(FlogDetail infoToLog)
        {
[code]
        }

[2020-01-17 19:06] #227 closed

[2020-01-20 18:40] gswonk opened #229 "Slight issue with documentation"
When I cut and pasted the doc sample, the 'opts' variable was undefined.

var logDB = @"Server=...";
var logTable = "Logs";
var **options** = new ColumnOptions();
options.Store.Remove(StandardColumn.Properties);
options.Store.Add(StandardColumn.LogEvent);
options.LogEvent.DataLength = 2048;
options.PrimaryKey = options.TimeStamp;
options.TimeStamp.NonClusteredIndex = true;

var log = new LoggerCon

[2020-01-30 19:18] jgrandydev opened #230 "Serilog.Sinks.MsSqlServer stops writing to database"
I'm using:

* Asp.Net Core 2.2.0
* Serilog 2.9.0
* Serilog.AspNetCore 3.2.0
* Serilog.Sinks.MsSqlServer 5.1.3

I'm configuring Serilog in `appsettings.json` :

      "Serilog": {
        "MinimumLevel": "Information",
        "WriteTo": [
          {
            "Name": "MSSqlServer",
            "Args": {
              "connectionString": "Server=MyServer;Database=MyDatabase;Integrated Security=S

[2020-02-06 03:21] nblumhardt commented on #230
Hi John,

One thing I can think of to try (I'm not familiar with the workings of this sink) - if you download the source from the root page of this repo and include the CSPROJ in your solution directly, you should be able to step through the inner workings of the sink and see what batches are written/what's returned from the database.

Hope this helps, and keep us posted with anything you find!

C

[2020-02-10 17:26] jgrandydev commented on #230
Thanks Nick. But it seems to get it to compile I will need to include many `Serilog` projects in my solution ( all the dependencies of `Serilog.Sinks.MsSqlServer` ). Or am I misunderstanding you ?

[2020-02-10 21:25] nblumhardt commented on #230
Hi - misunderstanding, I think - the Serilog.Sinks.MSSqlServer project just depends on the other Serilog components via NuGet package references.

[2020-02-11 19:22] jgrandydev commented on #230
What's the trick to hit breakpoints inside `Serilog.Sinks.MSSqlServer` ?

I'm setting breakpoints in `MSSqlServerSink.cs` constructor and also `EmitBatchAsync` and `FillDataTable`

[2020-02-11 22:06] nblumhardt commented on #230
One thought - have you removed all references to the _Serilog.Sinks.MSSqlServer_ package from your projects, and replaced them with direct links to the CSPROJ?

[2020-02-12 17:55] Devnsyde opened #231 "Question regarding this sink and linux"
I just have a question...

Is this sink meant to be used from windows only?

I have a docker container running windows and everything seems to work as configured. However when I switch to a linux container the browser can't open my site until I remove the configuration regarding this sink from my appsettings.

Here is what the config looks like that I am using within my linux container:

[code]
I

[2020-02-18 18:42] jgrandydev commented on #230
Yes I added `Serilog.Sinks.MSSqlServer.csproj` to my `.sln` but there are hundreds of build errors.

In a separate instance of Visual Studio 16.4.1 I opened `serilog-sinks-mssqlserver.sln` and get many of the same build errors.

By far the most common error is :

`The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0,

[2020-02-23 00:51] vkbishnoi commented on #230
@jgrandydev : JFYI, Just now downloaded the repo as zip, opened it in VS2019, Clean solution and Rebuild. It is building fine. Not sure why it is giving error in your environment.

[2020-02-26 21:13] douglasg14b commented on #230
I'm also experiencing this issue...It seem to just stop writing after half an hour or so.

The Serilog self logging reports no errors, it just stops logging...

[2020-02-26 21:14] douglasg14b commented on #230
Potentially related to https://github.com/serilog/serilog-sinks-mssqlserver/issues/216 ?

[2020-03-04 15:19] raisr commented on #187
When will a new nuget package be released. The docs already state that this is possible but the current package does not support it.

[2020-03-04 16:16] ckadluba commented on #187
The merge build produced and published a prerelease NuGet package, but using if you consume that within your NuGet, then it requires you to declare your own package as prerelease too.

I'm also waiting for a regular version. I hope @nblumhardt can help us out soon. 🙂

[2020-03-04 22:02] nblumhardt commented on #187
Thanks for the bump, looks like we missed closing this ticket when the feature was merged 😅

Maintenance capacity for this sink is currently very low (I've tried to help out by merging some recent PRs to dev, but otherwise have zero time to offer). It would be great to get wider feedback on the dev version, since no one is otherwise testing it and this makes it hard to get it to master.

Also invi

[2020-03-05 11:38] marcominerva opened #232 "Allow custom ITextFormatter for rendering LogEvent column"
I'm using the last version of Serilog for ASP.NET Core and I have added the SerilogRequestLogging middleware in the **Configure** method of Startup.cs:

`app.UseSerilogRequestLogging();`

Then, I have configured the **MSSqlServer** sink adding the **LogEvent** column. Everything is logged as expected, but I noticed that this column contains a _Renderings_ section, for example:

[code]

Is it possi

[2020-03-06 11:48] ckadluba commented on #232
According to the source code https://github.com/serilog/serilog-sinks-mssqlserver/blob/a53373fbe82ab814038b5c00d56ec7e5399abade/src/Serilog.Sinks.MSSqlServer/Sinks/MSSqlServer/JsonLogEventFormatter.cs#L105 the Renderings element always will be added to the LogEvent column if a message template with manually defined custom properties is used. Currently there is no option to disable that.

[2020-03-06 23:00] ckadluba commented on #232
@marcominerva Can you please provide a complete example of a JSON LogEvent and also the schema of your log table?

[2020-03-07 10:50] marcominerva commented on #232
Sure, here it is:

[code]

And the corresponding skin configuration in the _appsettings.json_ file:

[code]

And a complete example of **LogEvent** content:

[code]

[2020-03-09 12:21] ckadluba commented on #232
Thank you for the detailed samples.

__MSSqlServer__ sink will write custom properties also in within the `Renderings` element if they were added to the log event with formatting information included. Serilog.AspNetCore adds the Elapsed property with a formatting information and therefore we see it in `Renderings` in your case.

As far as I understand it, the `Renderings` element could be used by

[2020-03-09 21:47] nblumhardt commented on #232
The norm in other Serilog sinks is to allow the formatter to be overridden; here we've got an MSSQL sink-specific JSON formatter, but this could be substituted for one provided by the user (e.g. the one from _Serilog.Formatting.Compact_, a custom one, etc.)

The console, file, and other sinks accept an `ITextFormatter` argument for this purpose. The interface doesn't strictly require that the outp

[2020-03-09 22:27] ckadluba commented on #231
Can you attach the stdout and stderr output from your container running the app?

Is this exactly the config you are using or only an example? Because the `connectionString` contains placeholder values and is not valid in this form.

[2020-03-09 22:36] #229 closed

[2020-03-09 22:57] #180 closed

[2020-03-09 23:15] #174 closed

[2020-03-10 08:35] marcominerva commented on #232
Hi @nblumhardt, thank you for your support. Could you please point me to an example about how to create a specifc JSON Formatter for `LogEvent`? Thank you very much!

[2020-03-10 10:32] ckadluba commented on #187
@raisr I just created Serilog.Sinks.MSSqlServer 5.1.4. It is available on nuget.org.

[2020-03-10 16:25] ckadluba commented on #232
@marcominerva I'm working on the enhancement proposed by @nblumhardt, that enables user code to pass a custom ITextFormatter to MSSqlServer sink which will be used to render the LogEvent column. Additionally I plan to add a small sample program demonstrating this feature.

[2020-03-10 16:29] marcominerva commented on #232
Thank you very much for your support!

[2020-03-11 09:15] ckadluba commented on #232
Hi @marcominerva. I just merged the enhancement into the dev branch. A NuGet package Serilog.Sinks.MSSqlServer.5.2.0-dev-00246.nupkg has been built and published to nuget.org.

As promised, I also added a small sample app that uses a custom flat formatter to generate the logevent column. You can find it here.

https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/CustomLogEventForma

[2020-03-11 10:04] marcominerva commented on #232
Thank you, I'll give it a try as soon as possible.  I have a question: can you provide also a sample of  how to define the custom formatter using the `appsettings.json` file?

[2020-03-11 12:37] ckadluba commented on #232
The custom formatter needs to me instantiated and passed to the sink by your code. There is no way to do this by configuration. But you can combine it and read all other settings from the configuration while also creating the formatter in your code. Samples showing this are here.

https://github.com/serilog/serilog-sinks-mssqlserver#code--microsoftextensionsconfiguration

[2020-03-11 14:42] Devnsyde commented on #231
It is the exact config I was using, however, <theserver>, <theUser>, and <thePassword> are not real I just replaced actual with that. Actual would be just a string. Are these the values you are saying are not valid?

[2020-03-11 16:35] ckadluba commented on #231
Yes, `<theserver>` etc. are the values I was referring to. I thought that they were only placeholders and not the your actual values but I asked just to rule that out.

Probably there is something wrong with your connection string or infrastructure like the app in the container cannot reach the db, etc.

Some things to try:
1. Activate Serilogs SelfLog as documented under [Troubleshooting](https:/

[2020-03-11 16:50] ckadluba commented on #224
Hi @talley!

Can please you illustrate what you mean by giving us an example implementation? Feel free to fork this sink and implementing your suggestion on your fork. I think this would help us understand the requirement better.

[2020-03-11 16:59] ckadluba commented on #221
I'm not quite sure what you mean by logs retention.

This sink writes the log events to an SQL Server database. They are retained there until someone deletes them. Neither Serilog nor this sink have any code which deletes logs from the database.

[2020-03-11 17:06] FrancescoBonizzi commented on #221
Thanks Christian, you understood my question.
I was asking that because with [serilog-sinks-file](https://github.com/serilog/serilog-sinks-file) (see `Rolling policies`, `retainedFileCountLimit` parameter) there is a parameter that manages when to delete the old files.

[2020-03-11 17:40] #221 closed

[2020-03-11 22:32] ckadluba commented on #219
I added a small sample program that reads some column options from an app.config. For web.config it should work the same way. You can find the sample here.

https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/AppConfigDemo

It uses the following app.config.

[code]
The elements that can be added within MSSqlServerSettingsSection can be found here.

https://github.com/serilog/seril

[2020-03-11 22:50] ckadluba commented on #228
This is the repo for the Serilog MSSqlServer sink but HTTP request-, reponse logging for ASP.NET Core is handled by the package Serilog.AspNetCore.

Please post your issue in https://github.com/serilog/serilog-aspnetcore.

[2020-03-11 22:50] #228 closed

[2020-03-11 23:02] ckadluba commented on #198
Closing as this seems to be a duplicate of #199.

[2020-03-11 23:02] #198 closed

[2020-03-11 23:10] ckadluba commented on #199
The bug seems to be fixed now. I just added a sample program using `AddStandardColumns` in app.config and it works with the current version of the sink.

https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/AppConfigDemo

[2020-03-11 23:10] #199 closed

[2020-03-11 23:14] ckadluba commented on #192
No, this feature does not exist. Truncating records in the log table needs to be done by other means.

[2020-03-11 23:14] #192 closed

[2020-03-12 08:54] marcominerva commented on #232
I completely configure Serilog via `appsettings.json`, so in my code I use only this:

[code]
So, at code-level I don't know if SQL Server is actually used. In such a situation, is there a way to configure the formatter?

[2020-03-12 14:41] ckadluba commented on #232
I actually was wrong. It is indeed possible to use a custom formatter when using external config-only sink initialization. I added another sample which reflects your case and uses a custom formatter. You can find it here.

https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/WorkerServiceDemo

All you have to do, is to create your custom formatter with a static accessor property li

[2020-03-12 14:47] marcominerva commented on #232
Thank you, now I have all I need to perform some tests 👍 I'll keep you informed as soon as I have some news.

[2020-03-12 15:01] ckadluba commented on #162
Now three samples exist in the sample folder. One uses XML app.config to read ColumnOptions, one uses programmatic config and one uses config fully external config from appsettings.json including the reference to a custom formatter class.

More samples are welcome but I will close this issue for now.

[2020-03-12 15:01] #162 closed

[2020-03-12 15:03] #219 closed

[2020-03-13 21:46] #224 closed

[2020-03-16 09:50] ckadluba commented on #189
I noticed that in the source code too so I tried to create a sample consisting of a .NET Standard lib and a .NET Core 2.0 app. The app calls the lib which in turn intinalizes the Serilog MSSqlServer sink for auditing. The sample can be found here.

https://github.com/ckadluba/serilog-sinks-mssqlserver/tree/issue-189-AuditTo-MEC-does-not-read-connectionString-from-config/sample/NetStandardDemo

Whe

[2020-03-17 08:35] ckadluba commented on #216
I was not able to reproduce the error when using a message template containing the placeholder `{id}`.

But probably the error is related to #230 indeed. Next thing I will try is to find out if it happens when MSSqlServer sink is used together with another sink.

[2020-03-17 10:44] ckadluba commented on #230
@jgrandydev I just tried to reproduce your problem with a small sample app using MSSqlServer sink and File sink as in your scenario but it worked. All log events were written to the DB and to the file.

Could you upload you app that demonstrates the error somewhere so I can take a look at this?

Regarding the build errors you get. This seems like a target framework problem. What framework is your

[2020-03-17 13:20] ckadluba commented on #216
I also had no luck when using two sinks together in reproducing the error. Anyway, I'm closing this issue. Let's continue discussion and investigation in #230.

[2020-03-17 13:20] #216 closed

[2020-03-17 13:23] ckadluba commented on #231
@Devnsyde any news on this? If not I'm going to close this issue soon, as there is not enough information to reproduce it and no clear indication that it is really a bug in MSSqlServer sink.

[2020-03-17 13:25] ckadluba commented on #214
Thanks for getting in touch. Can you pleas provide us a sample that demonstrates the error?

[2020-03-17 14:09] ckadluba commented on #209
Thank you for reporting this. Is it possible for you to send us a pull request including tests?

[2020-03-17 14:15] Devnsyde commented on #231
My question was just if it is supposed to work. We have many other apps that are written to work outside of containers and they work fine, and it does work in a container running on windows using the very same config I showed above. I am assuming that it is supposed to work on Linux based on how you are wanting more information. I just no longer have the capacity to mess with this, we just stopped

[2020-03-17 14:39] ckadluba commented on #231
I would not know of any reason why it should not work in a Linux container but without furhter information it will be a lot of effort if even possible to investigate this.

I'm closing this for now. If you face such a problem again, please open a new issue and we'll try investigate it asap.

[2020-03-17 14:39] #231 closed

[2020-03-23 19:58] ckadluba commented on #232
@marcominerva did you have a chance to try the solution yet? Do you have any further questions or anything I could help you with?

I'm eager to see how the solution works for you. :)

[2020-03-23 20:02] #212 closed

[2020-03-23 20:12] brianbarnett316 commented on #87
Is it possible to set the Timestamp column in UTC?  Is this still a bug?

[2020-03-23 21:46] ckadluba commented on #87
@brianbarnett316 Yes, it works. I have added tests to the project that ensure timestamp UTC conversion. Please make sure to use 5.1.4 or a newer version of the sink and you have to take care  that the data type of your SQL server table column matches the datatype you have configured in the column options. If there is a mismatch you run into troubles as explained here:

https://github.com/serilog/s

[2020-03-24 08:31] marcominerva commented on #232
Hi! Sorry for the delay, this is a very busy period :-) I will try next weekend, then I'll share with you my results!

[2020-03-24 11:39] brianbarnett316 commented on #87
Thanks @ckadluba.  Where can I find what has changed between 5.1.3 and 5.1.4?

[2020-03-24 12:27] ckadluba commented on #87
https://github.com/serilog/serilog-sinks-mssqlserver/releases

[2020-03-24 13:04] brianbarnett316 commented on #87
If I wanted to keep the datatype as DateTime, does the ConvertToUtc option work?  This is what I would like to use.

[2020-03-24 13:15] ckadluba commented on #87
Yes, it should work. If you have any problems with this, please attach your code and config that produces the problem and any further details as specified in the issue template.

https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/.github/ISSUE_TEMPLATE.md

[2020-03-25 00:16] ckadluba commented on #232
No hassle. 😊

[2020-03-25 22:30] raisr commented on #187
I have just tested the version. Unfortunately it does not work. SelfLog shows the following exception:

Exception while emitting periodic batch from Serilog.Sinks.MSSqlServer.MSSqlServerSink: System.InvalidCastException: Unable to cast object of type 'System.DateTimeOffset' to type 'System.DateTime'.
   at Serilog.Sinks.MSSqlServer.JsonLogEventFormatter.<Format>g__WriteIfPresent|4_2(StandardColumn

[2020-03-25 22:58] ckadluba commented on #187
According to the call stack the exception happens during the rendering of the logevent column.

Thanks for testing this. I had not used the LogEvent column in my current project so I did not see this error.

I'll take a look at this and reopen the issue.

[2020-03-27 09:00] marcominerva commented on #232
Hi @ckadluba!

I have done some tests and I can say that everything works like a charm 👍. I have uploaded a small sample here: https://github.com/marcominerva/serilogcustomjsonformatter. In particular:

- I have configured the custom formatter using `appsettings.json`, https://github.com/marcominerva/SerilogCustomJsonFormatter/blob/master/SerilogCustomJsonFormatter/appsettings.json#L38;
- My custo

[2020-03-27 13:34] ckadluba commented on #232
@marcominerva thank you for testing this and for the kind words. I'm glad it works for you too.

So, after your confirmation, I will close this issue now.

I plan to create a new release after I took a look at the problem reported here https://github.com/serilog/serilog-sinks-mssqlserver/issues/187#issuecomment-604121138

[2020-03-27 13:34] #232 closed

[2020-03-27 16:43] #187 closed

[2020-03-27 16:48] ckadluba commented on #187
@raisr I just merged a fix into the dev branch and NuGet 5.2.0-dev-00250 was created. Can you please test with it and give me some feedback?

[2020-03-27 17:11] raisr commented on #187
@ckadluba Thanks. Works perfectly. No errors and TimeStamp is set correctly. I did not test the table auto generaction because my logging table is created using ef migrations.

[2020-04-03 13:00] ckadluba commented on #189
Although I could not test this and still have the suspicion this is could be dead code, I fixed this unused variables bug in PR #244

[2020-04-03 13:00] #189 closed

[2020-04-03 15:30] marcominerva opened #246 "Dynamically change the connection string"
Hi all!

I'm using the SQL Server Sink and I'm reading the configuration from `appsettings.json`:

[code]

[code]

In this way, everything works like a charm. However, in my current project, for security reason, the connection string cannot be stored in the `appsettings.json` file, but must be retrieved at runtime using an external service.

So, my question is: is it possible to keep all the other

[2020-04-03 23:29] ckadluba commented on #246
Hi @marcominerva! Thanks for getting in touch again.

I'm believe it should be possible to read setting from configuration but then override the connection string programmatically.

I will try it out and get back to you.

[2020-04-04 23:07] ckadluba commented on #246
I'm afraid you cannot combine ```loggerConfiguration.WriteTo.MSSqlServer(...)``` and ```loggerConfiguration.ReadFrom.Config(...)```. I tried to do this and the logger configuration extension method only gets called once and then immediately creates and initializes the sink,

But when you use ```WriteTo.MSSqlServer(...)``` you can pass your IConfiguration via the appConfiguration parameter. The met

[2020-04-05 10:31] marcominerva commented on #246
I understand. Thank you for the clarification!

[2020-04-05 10:31] #246 closed

[2020-04-05 11:27] ckadluba commented on #246
I added another little sample app called CombinedConfigurationDemo. It demonstrates reading connection string and column options from appsettings.json while supplying table name and other settings as parameters.

[2020-04-05 12:40] marcominerva commented on #246
Thank you, it is very useful!

[2020-04-05 17:40] ckadluba commented on #218
When letting MSSqlServer sink create the schema for you (autoCreateSqlTable = true), there is no way to create a clustered index for a non-primary key column. If you need that, you have to create your table in another way.

[2020-04-05 17:40] #218 closed

[2020-04-08 01:59] rcheung9 commented on #230
@ckadluba I'm actually having the same issue.  The initial `Application Started` works but subsequent ones don't work, although it logs to the file.

Interestingly, I've been using Serilog for various projects over the past year and just copy over the same config from previous projects.  However I do not match the Serilog versions, I just grab whatever is latest from Nuget.

[2020-04-08 02:08] rcheung9 commented on #230
I downgraded from 5.2.0 to 5.1.3 and it worked.  But the OP seems to have issues with 5.1.3 so that's interesting.

Did the reinstall fix something?

[2020-04-08 06:28] ckadluba commented on #230
Hi @rcheung9!

Thanks for reporting this. Is it possible for you to do another test with the latest 5.3.0-dev package? I fixed a lot of code analysis issues and also some potentially problematic stuff (like missing using blocks, writeable static properties).

If the problem appears again, please consider activating the SelfLog feature to see some information about the problems Serilog and the sink

[2020-04-08 17:47] rcheung9 commented on #230
@ckadluba Is it on nuget as a preview?

`
public class Startup
    {
        public void Configuration(IAppBuilder app)
        {
            var columnOptions = new ColumnOptions
            {
                AdditionalColumns = new Collection<SqlColumn>
                {
                    new SqlColumn {
                        ColumnName = "ExceptionSource",
                        DataType =

[2020-04-08 21:46] ckadluba commented on #230
Thank you for this information. I will try to repro the problem with your setup as soon as I can.

Yes, the 5.3.0-dev packages are published as prereleases on nuget.org. They are built snd published whenever a change is made to the dev branch. If you could try the latest dev package and see if you still see the problem, it would help me a lot.

[2020-04-08 21:58] rcheung9 commented on #230
MSSqlServer had problems on 5.2.0

[2020-04-08 22:17] ckadluba commented on #230
Does that mean you have seen the problem described in this issue only with 5.2.0 but not with 5.1.3 or a 5.3.0-dev? Did you already try a 5.3.0-dev package?

Since you wrote problems: If you have found any other problem than this in 5.2.0 please let us know by opening a separate issue.

[2020-04-15 23:07] rcheung9 commented on #230
@rcheung9 That's the only issue.  Actually now it's happening again with 5.1.3 so let me try 5.1.2 which I know works.  I think 5.1.3 is the one with the new data columns and options.

[2020-04-15 23:27] ckadluba commented on #230
Yes, please try it and let me know. In the meantime I did some testes with audit and normal sink and with normal mssql sink and file sink but the error did not occur.

Could you please make another test with SelfLog activated? Probably we see the reason threre.

https://github.com/serilog/serilog/wiki/Debugging-and-Diagnostics#selflog

[2020-04-16 22:36] rcheung9 commented on #230
5.3.0-dev-00296 seems ok so far.  I'll try for a few days.

[2020-04-16 23:17] ckadluba commented on #230
That sounds good. If you can keep testing it and don't see the problem anymore, I would create a stable 5.3.0 from the current code on the dev branch. As already mentioned, I removed some possibly problematic code analysis warnings. Would be great if this had fixed this problem.

[2020-04-20 12:52] ckadluba commented on #230
Release 5.3.0 is now available and a 5.3.0 package is up on nuget.org. There were a lot of code analysis problems fixed and the build platform was changed to Visual Studio 2019. Details about the release can be found here:

https://github.com/serilog/serilog-sinks-mssqlserver/releases/tag/v302

[2020-04-20 20:01] ckadluba commented on #226
That would be an interesting enhancement but I'm afraid in practice it is not easy to do. This sink uses some MS SQL specific features like Azure Managed Identities authentication which is only available in the SqlConnection API but not with OleDbConnection.

So there is already a lot of MS SQL specific stuff in this sink. So it would probably be easier to create a separate sink for universal ADO

[2020-04-20 20:01] #226 closed

[2020-04-21 13:32] hubo0831 commented on #226
May separate MS SQL specific stuff from it, we can extend to others.

[2020-04-22 10:38] ckadluba commented on #214
Okay, now I understand what your problem is: if you supply invalid values when writing a log event, that conflict with the database constraints, then the whole batch is not written to the db.

This behavior is caused by the way `SqlBulkCopy` works. This API is used by the non-audit sink to write batches of log messages to the db in a performant manner. If `SqlBulkCopy` enounters an error, it stops

[2020-04-22 10:40] #214 closed

[2020-04-22 12:12] ckadluba commented on #65
Recently I implemented the Managed Identities for Azure authentication in this sink and while testing it on Azure I also tested the table autocreation. It worked without problems. The service principal has to have the necessary permissions on the database though.

Here are the screenshots from my test. The second one shows the sink configuration in my test app, the second one shows the database ta

[2020-04-22 12:12] #65 closed

[2020-04-22 12:27] ckadluba commented on #172
The sample seems to be correct now. Closing this issue.

[2020-04-22 12:27] #172 closed

[2020-04-22 19:55] ckadluba commented on #201
The error is no longer reproducible. I added an integration test in the following commit to ensure the creation of additional columns with the specified types, length and nullability settings.

https://github.com/serilog/serilog-sinks-mssqlserver/pull/266/commits/6d19fe410f0f75b396f524aef4fd0e439e0dc2b5

Also the code in the ColumnOptions has changed since 5.1.2 and now the property AdditionalColu

[2020-04-22 19:55] #201 closed

[2020-04-22 20:14] ckadluba commented on #195
Hi @avelinoruiz. Thanks for getting in touch and sorry for the late answer.

The sink maps custom properties always to database columns of the same name. Unfortunately there is no way to map them to a column with a name that differs from the property name.

You could define a Serilog enricher for your MachineName column and populate the that property in the code of the enricher.

[2020-04-22 20:14] #195 closed

[2020-04-24 14:57] JamesIgoe commented on #182
This would fit my needs as well. I want to preserve backward compatibility with a prior logging table that was created using Log4Net, but Log4Net is complicated to set up with Core, unlike SeriLog. I now have SeriLog creating and writing to the same table structure, but the column headings mismatch because I broke out some properties into columns for backward compatibility. If I could rename those

[2020-04-24 18:25] ckadluba commented on #182
@rocknet Thank you for the suggestion. Since there seems to be some demand for this, it seems quite like a useful enhancement.
Thank you also for creating an implementation in your fork. But I think your changes would not merge to the current dev branch, since I changed and refactored a lot of the internals recently.

I will take a look at your fork and try to do an implementation based on the cur

[2020-04-24 18:44] ckadluba commented on #195
A small update on this.

This issue is a duplicate of issue #182 and since there seems to be some demand for this enhancement, we have now plans to implement it.

[2020-04-24 19:30] rocknet commented on #182
If I get some time this weekend maybe I'll try to rebase my changes, depending what's there.  I know it's been 15+ months, so you may be right.  IIRC my changes weren't that extensive.

[2020-04-24 19:46] ckadluba commented on #182
Awesome. I'm looking forward to it.

[2020-04-27 00:08] rocknet commented on #182
So, the good news is I updated my branch to the latest dev and re-applied my changes, it builds and the tests still run.  The bad news is that's about all I have time for.  I'm not even on the project that is using this feature anymore (one that migrated from log4net to Serilog).  Unfortunately I didn't add tests and don't really have the bandwidth to fire up the old project, bind to the latest co

[2020-04-27 07:15] ckadluba commented on #182
Thank you very much. I will take a look at the changes, pull them from your branch and try to add tests and integrate them asap. PR won't be necessary. Thank you for taking the time.

[2020-04-28 13:51] ckadluba commented on #182
@rocknet I integrated your enhangement, added some tests and merged it. Thank you very much for the nice contribution! Prelrelease 5.4.0-dev-00310 was created and published to Nuget.

I'm closing this issue now but if some of you could help me by installing 5.4.0-dev-00310 and testing the feature, this would be of great help.

[2020-04-28 13:51] #182 closed

[2020-04-30 18:13] jaimewyant commented on #230
I am having the exact same problem with 5.3.0 in a console application.

It seems like some records are being buffered and not flushed at the end of the program.  If I add a user prompt at the end of my program all the log records show up:

`            Console.WriteLine("PRESS ANY KEY");
            Console.Read();
`

I'm assuming the _BatchPeriod_ expires while waiting for input, forcing the rec

[2020-04-30 19:12] ckadluba commented on #230
Yes, there is a way. You have to call Log.CloseAndFlush(); as documented here.

https://github.com/serilog/serilog-sinks-mssqlserver#always-call-logcloseandflush

[2020-05-02 20:24] mdmoura opened #272 "Use ConnectionString from Configuration in ASP.NET Core 3.1"
I am using the recommended approach to configure Serilog with ASP.NET Core.

How to get ConnectionString from configuration in method Main to configure SQL Server sink?

    public class Program {
      public static Int32 Main(String[] args) {

        Log.Logger = new LoggerConfiguration()
          .MinimumLevel.Debug()
          .MinimumLevel.Override("Microsoft", LogEventLevel.Information)

[2020-05-02 20:49] #272 closed

[2020-05-02 21:34] ckadluba commented on #230
@rcheung9 How does it go with the new version? Did you see the problem again?

[2020-05-02 21:40] ckadluba commented on #182
Did anyone have time to try the feature? It really would be of great help for us.

[2020-05-02 21:46] rcheung9 commented on #230
Haven't seen the problem with the 5.3.0 release for the past 2 weeks.  I think it's good now.

[2020-05-02 21:50] ckadluba commented on #230
@rcheung9 Thanks a lot! I will now close this issue and consider it fixed with the CA issues I removed in 5.3.0.

[2020-05-04 12:19] ckadluba commented on #188
This is already implemented in this sink. Check out the documentation of the `SinkOptions.BatchPostingLimit` property.

https://github.com/serilog/serilog-sinks-mssqlserver#batchpostinglimit

[2020-05-04 12:19] #188 closed

[2020-05-04 12:21] ckadluba commented on #193
Since 5.1.3 is already released, I close this issue now.

[2020-05-04 12:21] #193 closed

[2020-05-04 12:23] ckadluba commented on #145
I don't know of any open source tools but you can download and use Microsogt SQL Server Management Studio for free to query MS SQL Server.

[2020-05-04 12:23] #145 closed

[2020-05-04 12:42] ckadluba commented on #169
Hi @jducobu! Sorry for the late late answer. This sink suffered a little for too little attention.

There is a sample in the documentation for configuring additional columns using a web.config:
https://github.com/serilog/serilog-sinks-mssqlserver#xml-columnoptions-systemconfiguration

The part that is relevant for you is the `<Columns/>` element. Something similar to this.
[code]

Also there is no

[2020-05-04 12:42] #169 closed

[2020-05-05 09:13] SyntaxWarrior opened #279 "How do I include "SourceContext" as a column in the log table"
I have serilog with an MSSQL sink installed in a dot net core 3.1 asp net core app (and love it).
I've been trying to figure out how to have "SourceContext", and possibly "ActionName" as separate columns in my Log table for easier querying, but haven't been able to figure it out yet.
Any hints on how I can do this?

[2020-05-06 11:58] ckadluba commented on #279
Hi @SyntaxWarrior!

It should be sufficient if you just add a column named like the property (i.e. "SourceContext"). By default log event properties are written to a columns with matching name.

[code]

[2020-05-06 11:58] #279 closed

[2020-05-06 19:03] flycast commented on #229
This needs to be reopened.
The type change did not fix the issue. It needs to be:
[code]

[2020-05-06 19:04] flycast commented on #229
My formatting did not "take" I believe that the variable options needs to be columnOpts

[2020-05-06 20:11] flycast opened #280 "Log.Error("Some text") not writing a row."
My Log.Error(); is not writing to the table. I have used the basic configuration in the readme file and the sink created my table OK on first run. I am certain that my user has read/write permission.

I am expecting the Log.Error("Some info here"); to add a row to the table in the configuration.

My versions:
- Serilog: 2.9.0
- Serilog.Sinks.MSSqlServer: 5.4.0

[ ] .NET Framework 4.7
OS: Win 10 x6

[2020-05-06 22:14] flycast commented on #280
I found my issue. In the past when I have used Serilog I have used the static "Log.Information()" rather than my variable that is declared in my code when I create the logger. In this case my declared variable is also "log" - lower case.

Log.Information() - bad.

log.Information() - good.

[2020-05-07 19:51] ckadluba commented on #229
The current sample in the `README.md` looks like this.

[code]

I copied it into a source file and found no errors.

[2020-05-07 19:53] ckadluba commented on #280
Hi @flycast! I'm glad to hear you could fix this. 👍

[2020-05-07 19:53] #280 closed

[2020-05-09 02:04] arex388 opened #283 "Version 5.4 causes an exception trying to load Microsoft.Azure.Services.AppAuthentication"
As the title says, the latest version (5.4) causes an exception because its trying to load `Microsoft.Azure.Services.AppAuthentication` which doesn't exist. I don't use any Azure services and have never referenced any in my solution. Weirdly, it works fine when debugging locally, but as soon as its published to my server (IIS 10 on Windows Server 2019 on AWS EC2) the exception is thrown and I'm gr

[2020-05-09 18:41] darrenschwarz commented on #283
Hi @arex388, Would you be able to provide a working (or not as the case may be) sample application which reliably reproduces the problem in AWS, I'd then be more than happy to take a look and try to resolve for you. No Charge!  :)

[2020-05-10 18:47] ckadluba commented on #283
Hi @arex388! Thank you for informing us about the issue.

 Can you please give us the list of files in the output folder after you called `dotnet publish` on your app? Can you please also check if all those files were deployed to the target machine without errors?

[2020-05-10 21:34] ckadluba commented on #210
Hi @rgelb! Thanks for getting in touch and sorry for the late answer. This sink had suffered from too little attention in the last months.

Without further details and investigation, I can't think of anything in the sink that would cause such a problem. BUT: I did a lot of cleanup in the code and fixed some possible problems found by code analysis. Those changes seem to have helped with the stabil

[2020-05-11 03:42] rgelb commented on #210
@ckadluba Thank you for responding. I think we are good.  Once the networking was fixed, the problem went away.  Afterwards, I tried to use [clumsy](https://jagt.github.io/clumsy/) to simulate unpredictable networking environment, but couldn't replicate the problem.

My theory is that an issue with networking was resulting in same packet being sent multiple times.  And SQL Server, upon receipt of

[2020-05-11 03:42] #210 closed

[2020-05-12 10:21] ronaldbarendse commented on #283
Looks like the dependency on `Microsoft.Azure.Services.AppAuthentication` is only added for the `netcoreapp2.2` and `net472` targets:

https://github.com/serilog/serilog-sinks-mssqlserver/blob/5dabed522d02860466fa726c19038b6a17c70856/src/Serilog.Sinks.MSSqlServer/Serilog.Sinks.MSSqlServer.csproj#L77-L87

IMO `Serilog.Sinks.MSSqlServer` shouldn't have an Azure specific dependency, but only provide

[2020-05-12 13:51] ckadluba commented on #283
These conditions do specify minimum versions. The Azure Manages Identities features also works when using the sink in a program targeting .NET Core 3.1. I tested this and documented the result in PR 222:

https://github.com/serilog/serilog-sinks-mssqlserver/pull/222#issuecomment-616875111

The conditional dependency is necessary because the referenced assembly is not supported on all frameworks th

[2020-05-12 13:58] ckadluba commented on #283
But probably we can change the code to call the ctor of `AzureManagedServiceAuthenticator` only if Azure Managed Identties is enabled.

I will take a look into it.

[2020-05-12 19:40] Strandedpirate opened #284 "DateTime column is way off"
The date/time being logged is 5 days behind the current date/time. It should be either based on the computers time zone or UTC if configured.

Today is 5/12/2020 and yet its logging 5/8/2020. Where is it getting the date/time from?

'2020-05-08 08:41:27.757'

- Serilog: 2.9.0
- Serilog.Enrichers.Environment: 2.1.3
- Serilog.Sinks.MSSqlServer: 5.4.0

.NET Core 2.2
OS: linux - docker

[code]

[code]

[2020-05-12 22:06] ckadluba commented on #284
Could it be that the async logging causes dropped log messages in your case? According to the documentation the async sink wrapper (`WriteTo.Async`) is only useful for non-batching sinks.

https://github.com/serilog/serilog-sinks-async#serilogsinksasync---

Since the MSSqlServer sink (non-audit version) is a batching sink, you do not need to use WriteTo.Async. I don't know what possible effects co

[2020-05-12 22:51] ckadluba commented on #200
I tried your code with the latest code in the dev branch (5.4.0+) but the properites column looks like perfectly valid xml.

[code]

[2020-05-12 22:52] #200 closed

[2020-05-12 23:21] ckadluba commented on #181
Hi @stong0209! Thank you for submitting this issue and sorry for the late response. We had not enough maintenance resources on this sink for a while.

One thing I noticed is, that you combine `WriteTo.Async` with this sink which is not necessary because the sink itself does batching anyway which leads to an async write without blocking the caller. Also it is suspected that using a batching sink wi

[2020-05-13 00:20] ckadluba commented on #186
@Chanhhoathom In the sample code above you write a message with the level information but in your config you have set `restrictedToMinimumLevel: Warning`. Refer to the serilog core documentation for details.

https://github.com/serilog/serilog/wiki/Configuration-Basics#minimum-level

This causes your messages with level Information to be ignored by the SQL Server sink. You have not set a minimum l

[2020-05-13 00:20] #186 closed

[2020-05-13 14:43] Strandedpirate commented on #284
I removed the Async wrapper but it's still logging with dates 5 days behind. I'm going to create a new .net core app from scratch and see if this problem presents itself there and report back.

[2020-05-13 18:33] darrenschwarz commented on #283
Hi @ckadluba could we have a catch up?Can provide  the temp email again if needed.

[2020-05-14 08:25] ckadluba commented on #283
I sent you my contact now. :)

[2020-05-17 22:16] ckadluba commented on #284
A good idea. Please also enable SelfLog. This way we can hopefully find the cause of the problem.

[2020-05-17 22:22] ckadluba commented on #283
I thought about this. I think Microsoft.Azure.Services.AppAuthentication is a dependency like any other and should not require any special treatment in the sink. The assembly should be deployed with the consumer app alond with all other nuget packages.

@arex388 have you had yet an opportunity to check the publish artifacts and the deployment of your app? Is the assembly missing there?

[2020-05-18 13:37] arex388 commented on #283
@ckadluba I haven’t had a chance to yet. I’ve been stuck doing post-release bug fixes on the project where I discovered the issue. Once things begin to settle down with it I’ll take a look, but it most likely will be at least a week or two before that happens. Hopefully...

[2020-05-21 18:33] #208 closed

[2020-05-26 16:15] saisworld opened #290 "System.MissingMethodException: Method not found: 'Serilog.LoggerConfiguration Serilog.LoggerConfigurationMSSqlServerExtensions.MSSqlServer"
Bug Report
--------------------------------------

Latest version of nuget sink.MSSQLServer 5.4.0 is throwing the below error -

`System.MissingMethodException: 'Method not found: 'Serilog.LoggerConfiguration Serilog.LoggerConfigurationMSSqlServerExtensions.MSSqlServer(Serilog.Configuration.LoggerSinkConfiguration, System.String, Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer.Options.SinkOptions, Mic

[2020-05-26 16:44] ckadluba commented on #290
Hi @saisworld! Thank you for reporting. The SinkOptions methods are the new and recommended API. It was introduced in 5.4.0 but until the next major release (6.0.0) the old methods will still be supported.

https://github.com/serilog/serilog-sinks-mssqlserver/releases/tag/v324

Can you please give us a sample code sample that reproduces the problem?

[2020-05-27 08:42] saisworld commented on #290
Below is the code sample that I have used for creating the logger -

`

         return new LoggerConfiguration()
                .Enrich.FromLogContext()
                .Enrich.WithMachineName()
                .Enrich.WithProcessName()
                .Enrich.WithThreadId()
                .WithMinimumLogLevel(applicationLoggerSettings.ApplicationLoggerOutputSettingsCollection)

[2020-05-31 22:38] ckadluba commented on #290
Sorry for the delayed answer. Just a short update: I could reproduce the problem with a small sample program. I'll probably add this one to the sink source under the `sample` folder.

Investigation continues.

[2020-06-05 19:32] ElenaShlykova opened #292 "Pass object as parameter"
I have a bunch of additional columns in my configuration.
It works if I pass all a list of property names and value to the logger;
`Logger.LogInformation("{ActionType} {ObjectType} .......", value1, values2, .....);`
But I have many columns and it would be nice to save the model like this:
[code]
But in this case, all my custom columns are empty:
![image](https://user-images.githubusercontent.com/

[2020-06-06 23:44] ckadluba commented on #290
I found out that the order of the parameters of the problematic configuration extension methods in the generated sink assembly for .NET Standard was different than in the source code. I don't know the exact reason why but when I ordered the parameters in the source code like i observed them in IL disassembler, the MissingMethodException disappeared.

I merged a PR to the dev branch with this fix.

[2020-06-06 23:50] ckadluba commented on #292
Hi @ElenaShlykova! Thank you for getting in touch.

I'm afraid it isn't possible to decompose an object with all its properties and write their values to individual LogEvent properties.

Since this isn't a question specific to this sink, maybe you could ask it over at the serilog core repo. If there is a way to do it you would most likely get the answer there.

[2020-06-06 23:50] #292 closed

[2020-06-06 23:53] ckadluba commented on #284
Hi @Strandedpirate. Did you have time to do tests with a new .NET Core app yet?

[2020-06-07 08:51] saisworld commented on #290
Thanks Christian. I will test it and let you know. Appreciate your help in
fixing this issue.

Regards
Sai

On Sun, 7 Jun 2020 at 00:44, Christian Kadluba <notifications@github.com>
wrote:

--
Thanks,
Sai Krishna Siddula

[2020-06-08 14:41] dctempus opened #295 "How to use WriteTo and AuditTo side-by-side"
I wish to implement both logging and audit capabilities in my app. To date I've set up the logging part by specifying settings in the Serilog WriteTo section of appsettings.json and by setting the Logger property of the static Log entry point to a logger instance created from the settings in this file. For example:

[code]

The logging aspect of things works fine. I now wish to add an audit capabi

[2020-06-09 08:06] saisworld commented on #290
@ckadluba  , I tried the nuget version Serilog.Sinks.MSSqlServer.5.4.1-dev-00349 and its working as expected. Thank you for fixing this.

[2020-06-09 09:32] ckadluba commented on #290
@saisworld you are welcome! I'm glad this is fixed. Thank you for verifying.

[2020-06-09 09:32] #290 closed

[2020-06-09 19:12] AymericLi opened #298 "Serilog MSSqlServer cannot read connection string if the connection string is located in secrets.json"
If the connection string is supplied in the appsettings.json everything works fine. However the SQL Sink doesn't seems to be able to read the connection string if located in the app secrets (secrets.json).

- Serilog: 2.9.0
- Serilog.Sinks.MSSqlServer: 5.5.0
- Serilog.Settings.Configuration: 3.1.0

[ ] .NET Core 3.1

Server Side configuration:
[code]

Appsettings.json:
[code]
Thanks

[2020-06-09 19:56] ckadluba commented on #298
Hi @AymericLi! Thanks for the question.

This sink does not support accessing ASP.NET Core Secrets API and we also have no plans for that at the moment. It is specific to ASP.NET Core (which the sink isn't) and according to the documentation it is only intended for development purposes.

If you want to read the connection string from secrets.json, you could read it in your app using the secrets AP

[2020-06-09 19:56] #298 closed

[2020-06-09 20:09] ckadluba commented on #206
Hi @MrYossu!

Could you please activate SelfLog as shown here and give us the output?

https://github.com/serilog/serilog-sinks-mssqlserver#always-check-selflog-first

[2020-06-09 21:08] AymericLi commented on #298
Thank you for your prompt reply.

From: Christian Kadluba <notifications@github.com>
Sent: 09 June 2020 20:57
To: serilog/serilog-sinks-mssqlserver <serilog-sinks-mssqlserver@noreply.github.com>
Cc: Aymeric Li <aymeric_li@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [serilog/serilog-sinks-mssqlserver] Serilog MSSqlServer cannot read connection string if the connection string is

[2020-06-11 20:41] jons-aura commented on #232
Does this work with Serilog.Formatting.Compact? I'm trying to use that in my code but it doesn't appear to be working. I'm getting full JSON LogEvent records and no error messages rather than compact records.
[code]

[2020-06-11 20:55] ckadluba commented on #232
@jons-aura the parameter name is `logEventFormatter` but in your configuration you specified `formatter`. Therefore it is ignored.

[2020-06-11 21:07] jons-aura commented on #232
That fixed it, thanks!

[2020-06-11 21:08] ckadluba commented on #232
You're welcome! 😊🤙

[2020-06-13 20:12] sametoz opened #299 "Debug mode does not start after upgrade to Dotnet Core 3.1"
When I first implementation of Serilog, dotnet core version was 2.2. Then I upgrade to 3.1 and review the Serilog extension. But when I start the debug mode, Chrome page does not open. Previous behaviour is perfect. Just hit the F5 button, and start the debug mode. But now, can't start the debug mode.

"Serilog.AspNetCore" Version="3.2.0"
"Serilog.Settings.Configuration" Version="3.1.0"
"Serilog.S

[2020-06-14 10:04] ckadluba commented on #299
Hi @sametoz! Can you please provide us any error messages you get from visual studio.

[2020-06-14 13:17] ckadluba commented on #150
I verified it too with the current version Serilog.Sinks.MSSqlServer 5.5.0 and Serilog.Settings.Configuration version 3.1.0" based on the included sample program  `samples/WorkerServiceDemo` which targets .NET Core 3.1. I adapted the configuration in `appsettings.json` so that it uses named connection strings for `WriteTo` and `AuditTo` configs and everythings worked without problems.

Closing thi

[2020-06-14 13:17] #150 closed

[2020-06-14 13:48] ckadluba commented on #295
Hi @dctempus. Thanks for the question.

Yes, I think the separation with two different configs, as shown in your sample above would be a proper way to go. I have not tested this though. But I think this question is not specific to this sink. So, if you wan't to be sure, I recommend you to ask over at the Serilog.Sinks.Configuration or the Serilog main repo.

[2020-06-14 13:48] #295 closed

[2020-06-14 19:09] sametoz commented on #299
Hi, no error has occurred. Just stuck at debug mode started.

[2020-06-15 14:19] ckadluba commented on #299
@sametoz Is it okay for you if i close this issue? If i understand it correctly it was only a temporary problem in your dev environment.

[2020-06-15 14:26] dctempus commented on #295
Thanks for the reply. Will do.

[2020-06-15 15:09] sametoz commented on #299
Umh, i think no. Because app is running but chrome page is not open after implement WriteTo.MsSql.

[2020-06-15 15:29] ckadluba commented on #299
What error messages do you see in VS debug output?

[2020-06-16 10:17] ckadluba commented on #299
Does debugging work when you remove (comment-out) all the serilog related code from your project and remove the package serilog package references?

Could you provide your complete VS solution for me to reproduce the problem?

[2020-06-18 21:59] FletcherJohnsonZ commented on #283
Hi folks - I have this same problem.  What I have found:
I remove the MSQL Sink and then the Azure library (I don't use Azure either).  I comment out the references.  Everything works.  And there are NO Azure libraries.

I add the MSQL Sink back to my application (which adds the Azure library) via NuGet. Rebuild the solution.  Then I reenable the commented out code that builds the Sink.  When I ru

[2020-06-18 22:18] FletcherJohnsonZ commented on #283
One more thing.  It appears to be related to the addition of SinkOptions in 5.4.  If I go back to v. 5.3 I am able to run.

[2020-06-20 20:22] ckadluba commented on #283
@FletcherJohnsonZ thank you for the investigation and for sharing your findings. Do you have a sample project to reproduce the problem that you could provide me?

Some points about your observations:
* The .NET Framework 4.7+ and .NET Core 2.2+ builds of Serilog.Sinks.MSSqlServer.dll reference Microsoft.Azure.Services.AppAuthentication 1.4.0. There should be no references to version 1.5.0 of that

[2020-06-21 18:51] FletcherJohnsonZ commented on #283
Be cautious! Message sent from external source.

Christian,

Unfortunately, I can’t share the project – this is for an internal project.  But I can share the pertinent code.

The following works fine with MSSqlServer v 5.3.  If I upgrade to 5.4 or 5.5, when this code tries to execute, it gets the errors I posted.  I am not sure if it’s the  instantiation of the sinkOptions or not.  What I know is

[2020-06-21 20:30] ckadluba commented on #283
@FletcherJohnsonZ thanks for the sample. I'll try to reproduce the problem but I'm afk for the next two weeks, so I can probably do it only after the 7th of july.

What target framework does your project use?

[2020-06-22 16:20] FletcherJohnsonZ commented on #283
Be cautious! Message sent from external source.

Christian,

We are currently targeting 4.7.2. It’s a WPF application.

Fletcher

Fletcher Johnson
[cid:image001.png@01D64876.68663D80]
510-474-9051 – Work
408-781-2345 – Cell
Fletcher.Johnson@zoetis.com

From: Christian Kadluba <notifications@github.com>
Sent: Sunday, June 21, 2020 1:31 PM
To: serilog/serilog-sinks-mssqlserver <serilog-sinks-mssqlse

[2020-06-29 12:10] stedel opened #300 "Support DateTime2 data type for TimeStamp column"
The sink supports SqlDbType `DateTime2` in custom columns without problems. The `TimeStamp` column does not support it yet though.
Setting the data type manually on the `TimeStamp` object yields a `InvalidCastException` when the Sink is trying to flush the log entries. Enabling SelfLog logs: `Unable to write 1 log events to the database due to following error: Unable to cast object of type 'System

[2020-07-01 10:34] #300 closed

[2020-07-04 09:28] Slavuta851109 commented on #209
Is there a way to highlite this issue as critical bug (according to principle of less surprise) and mention in documentation in red? Production databases rarely refactored, so there is no way for me to use nvarchar(max) in nearest years.

This issue also makes main feature (structured logs) - auto-serialization not usable, for every column I need to serialize data manually and then truncacte it to

[2020-07-04 09:38] Slavuta851109 commented on #177
Looks like project is not suitable for testing.
I solved the issue by making test async, setting `BatchPeriod`to small value, and awaiting Task.Delay() for period 3x bigger than BatchPeriod.

What is lack in lib is some kind of `Flush` functionality not just for disposing/closing app, but for testing and debugging.
Or even better, crete property AsyncBatching, and put it to true by default, but fa

[2020-07-05 23:20] ckadluba commented on #209
When using the batched sink (`WriteTo`) there is a big caveat whith wrong input data. If one log event in a batch cannot be written to the database, then the whole batch will be lost. This is not obvious and therefore I have now documented this behavior in the README: https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/README.md#consider-batched-sink-sqlbulkcopy-behavior

I'm still open

[2020-07-05 23:21] ckadluba commented on #299
@sametoz any news on this? Can you supply a test project for reporducing the problem?

[2020-07-05 23:29] ckadluba commented on #177
Using the sink to log during tests should be no problem. When using xUnit you can make your test class IDisposable and in the Dispose method also dispose the logger. You can also call `Log.CloseAndFlush()` directly if that suits your needs better as documented here: https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/README.md#always-call-logcloseandflush.

[2020-07-05 23:29] #177 closed

[2020-07-06 06:31] Slavuta851109 commented on #177
If the goal is to test integration with serilog making test class IDisposable cannot help.
Validation of saved log entries must be inside of the test, immediately after calling Log.WriteTo() method.

[2020-07-06 06:36] ckadluba commented on #177
Then you could dispose the logger within your test method and read back the data after the using block. In the sink code there are a lot of tests doing this. Check out test classes decorated with the TestCategory "Integration" to find examples.

[2020-07-06 19:00] clientbala opened #302 "Connect to SQL - Using the User Managed Identity"
Currently, I am not able to connect to the SQL database using the user-managed identity in the Azure functions (with the identity set as user managed). Would it be possible to take some additional SinkOption parameters  (clientid) so that it can authenticate using the user managed client id.

[2020-07-07 16:48] Slavuta851109 commented on #208
Looks like this is the reason for exception:
Exception thrown: 'System.PlatformNotSupportedException' in Microsoft.Data.SqlClient.dll
2020-07-07T16:01:05.1680936Z Unable to write 1 log events to the database due to following error: Microsoft.Data.SqlClient is not supported on this platform.

My .net standard 2.0 lib + serilog used as reference for web api with configuration like this:
  <system.we

[2020-07-07 16:54] ckadluba commented on #208
Thanks for the feedback. Which framework is your executable assembly targeting?

[2020-07-07 20:18] Slavuta851109 commented on #208
Updated my prev comment by removing html braces, so it is visible now.

[2020-07-07 20:28] ckadluba commented on #208
Thanks! Can you supply a minimal version of your solution to reproduce the problem?

[2020-07-08 12:30] ckadluba commented on #302
Hi @clientbala! Thanks for getting in touch.

That's right, Azure user managed identities are currently not supported by the sink. You have to use system managed identities. The change you suggest would be an interesting and probably very simple enhancement. Maybe I'll look into this when I have time to do it, but if you have some time and opportunity to implement and test this, a pull request wou

[2020-07-10 18:00] Slavuta851109 commented on #208
https://github.com/Slavuta851109/SerilogBugOn452
To reproduce simply run web host.
Thank you for checking. Currently I decided to use working v.5.3.0 in prod.

[2020-07-12 16:06] sametoz commented on #299
just use the official documentation implementation. and application has not start.

[2020-07-12 21:00] ckadluba commented on #299
@sametoz, I pasted your configuration into the appsettings.json on the `WorkerServiceDemo` included in the samples directory to check if there was something wrong with it. I had no problems with your config when running on Windows. But since you specified that you are on macOS, it might be a problem related to that platform or some tooling you use (like VS for Mac). Unfortunately I have no access

[2020-07-12 21:04] ckadluba commented on #284
Not enough information and no more response from submitter. I'm closing this issue.

[2020-07-12 21:04] #284 closed

[2020-07-12 21:15] ckadluba commented on #206
Hi @MrYossu. In your appsettings.Development.json there is a valid connection string directly specified in the parameter `connectionString` which is used while debugging. In your appsettings.json file you only have the value "myconnstr" in the `connectionString` parameter which is not a valid connection string. In that case the sink tries to look up a connection string named "myconnstr" in the `Co

[2020-07-12 21:15] #206 closed

[2020-07-12 21:44] MrYossu commented on #206
@ckadluba "myconnstr" was because I removed the production connection string for security reasons. The file contains a valid connection string.

So thanks anyway, but you were way off the mark, and by closing the issue, have effectively prevented anyone else from helping me.

[2020-07-12 21:50] ckadluba commented on #206
Okay, so I assume your connection string that you have in appsettings.json instead of "myconnstr" is correct. Then we have to see what SelfLog says.

I was closing the issue since you did not answer since more than one month, but I will reopen it and try to help if you could enable SelfLog and let us know what you see there.

[2020-07-12 22:20] ckadluba commented on #208
@Slavuta851109 Thanks for the sample. I was able to reproduce your problem but have not yet had enough time to investigate the reason. I will continue looking into it as soon as I can and keep you posted.

[2020-07-13 12:06] ckadluba commented on #208
@Slavuta851109 It seems due to an open issue in Microsoft.Data.SqlClient (see my mention above).

Currently there is no information about when or if this will be fixed in the future. I asked in their github issue for an update but the last comments were from late 2019, which does not give me much hope to see a fix soon.

Therefore I would like to revert the sink back to System.Data.SqlClient for .

[2020-07-13 12:40] ckadluba commented on #208
After some further testing I found that this problem seems to only occurr when using the sink in a .NET Standard lib that is called from a .NET Framework app. It seems not to occur when the .NET Standard lib is called from a .NET Core app (see `sample/NetStandardDemo`).

Sink users with .NET Standard scenarios, can you please state if my overvations are correct?

I believe there are not as many us

[2020-07-14 16:17] MrYossu commented on #206
Thanks for reopening the issue.

I'll give SelfLog a go, but am having other problems with the server at the moment, so won't be able to try it until that's sorted. I'll get back to as soon as I can.

Thanks again.

[2020-07-16 01:16] renxuefeng opened #303 "WriteToServerAsync thow Exception"
[ ] .NET Core 3.1
OS: windows10
"Serilog": {
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft": "Information",
        "System": "Information"
      }
    },
    "WriteTo:Debug": {
      "Name": "Logger",
      "Args": {
        "configureLogger": {
          "Filter": [
            {
              "Name": "ByIncludingOnly", //"ByExcluding",
              "Arg

[2020-07-16 07:04] #303 closed

[2020-07-16 07:05] renxuefeng commented on #303
resolved

[2020-07-22 11:42] clientbala commented on #302
Thanks @ckadluba ...it would be helpful, if you can assign this to me and I will submit a PR once I complete the change.

[2020-07-22 11:55] ckadluba commented on #302
@clientbala okay, you have it. 🙂

[2020-07-25 23:20] ckadluba commented on #283
I tried to reproduce and fix the problem you noticed but it seems to be more complicated than I expected. When I use a sample targeting .NET Framework (like `samples\AppConfigDemo`), I get not quite the error you have but a different exception on application start:

[code]

To me it is still unclear why that happens although there seemed to be an open issue in Microsoft.Data.SqlClient:: https://gi

[2020-07-27 13:30] ckadluba commented on #283
I could fix the SNI problem. To summarize it again, since the migration from `System.Data.SqlClient` to `Microsoft.Data.SqlClient` in MSSqlServer sink 5.5.0, when the sink is used from a .NET Framework project, an exception about a missing sni.dll might occurr. I could reproduce this by just running `samples\AppConfigDemo`.

![image](https://user-images.githubusercontent.com/10721825/88545093-cb7e

[2020-07-27 15:38] FletcherJohnsonZ commented on #283
Christian,

For now, if anyone is having this problem, they can back rev as I did since the earlier versions work fine.

In my environment, we can’t update libraries except as part of some other process anyway, so for now, we are locked into that version.  I can check back when we are ready to start the next round of updates.

Thanks for the update,

Fletcher

Fletcher Johnson
[cid:image001.png@01

[2020-07-27 16:33] ckadluba commented on #208
@Slavuta851109 Good news! I could now understand and fix the problem using the sample app you provided. I was then able to generate log data with the sample app. Here is the proof:

![image](https://user-images.githubusercontent.com/10721825/88566342-283b2e80-d036-11ea-9304-ebccdf1fa09b.png)

The problem seems to be the same as described here: https://github.com/serilog/serilog-sinks-mssqlserver/i

[2020-07-28 15:52] ckadluba commented on #205
Sorry for the late late reply. There was too little attention on this sink for a while.

I'm not aware of such a problem with the current version. There have been a lot of changes and fixes in the sink earlier this year. If you still have the problem, would you care to give the latests version of the sink a try? If the problem persists, could you share a code sample, so we can try and reproduce th

[2020-07-29 14:13] ckadluba commented on #163
Sounds very interesting.

Do I understand this right, that the application specific id is used to find the matching delegate when a property is rendered? If the rendering delegate could be set in `ColumnOptions.AdditionalColumns` for each property, could we then do without an application-specific id?

[2020-07-29 14:21] ckadluba commented on #173
Your configuration looks correct. A working sample app doing something similar is included in the source under https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/WorkerServiceDemo.

Please upgrade to the newest versions of all Serilog packages and it should work.

[2020-07-29 14:21] #173 closed

[2020-07-29 15:42] ckadluba commented on #191
I was able to reproduce the problem in a .NET Core 3.1 sample app with the latest versions of all involved Serilog packages:

Serilog 2.9.0
Serilog.Sinks.MSSqlServer 5.5.1
Serilog.Sinks.PeriodicBatching 2.3.0
Serilog.Sinks.Console 3.1.1

When the `WriteTo.Console()` is removed from the init code, only one batch is written as expected.

Anyhow, this seems to be caused by the PeriodicBatching sink a

[2020-07-30 02:49] nblumhardt commented on #191
Hi @ckadluba, thanks for the heads-up! 👍

`PeriodicBatchingSink` was overhauled just a short while ago to offer a way around this; it doesn't look like the MSSQL sink has moved to the new API yet, but it should be reasonably mechanical.

If you can take quick look at the example [here](https://github.com/serilog/serilog-sinks-periodicbatching/#getting-started), you'll spot the new `EagerlyEmitFirs

[2020-07-30 13:33] ckadluba commented on #191
Hi @nblumhardt!

Thank you very much for the hint. That did the trick. I could successfully test it with MSSQL sink - only one batch is emitted now in the described test scenario. I'm currently working on a proper adaption of the sink to the new API and will commit it as soon as possible.

✌

[2020-08-02 14:26] ckadluba commented on #191
Implemented in PR 310: Serilog.Sinks.MSSqlServer 5.6.0-dev-00373 was published to nuget.org allowing to set EagerlyEmitFirstEvent in sink options. Set it to false to have a discrete behaviour according to number of batched created as described in this issue.

[2020-08-02 14:26] #191 closed

[2020-08-02 17:15] ckadluba commented on #203
Hi, thanks for getting in touch and sorry for the late response.

The sink does not support reading an encrypted connection string from the config but you can read and decrypt it in your app code (or read it from a docker secret or from any other secure source) and pass it to the config extension method and let the sink read all other parameters from the config.

A small sample app that. does that

[2020-08-02 17:15] #203 closed

[2020-08-31 15:36] DylanTusler opened #312 "Data conversion issue causes logging to silently fail"
Bug Report / Support Request Template
--------------------------------------

When a user writes a data value into a log entry that happens to have the same name as a guid stored as a columnOption, even though the value may be a valid guid, if it is a string the write fails, the log entry fails to write to the database. Internally an exception like this is raised:
Guid should contain 32 digits wit

[2020-08-31 23:09] DylanTusler commented on #312
What I've done in our code is to check at the time that the PushProperty is performed that there is not a token in the message with the same name (case insensitive) as the property being pushed, and if there is one, then it renames the token in the message and ALSO logs a warning level message advising the faulty message. This protects us from someone in the future deciding to add a {userid} to a

[2020-09-20 22:28] ckadluba commented on #312
Hi @DylanTusler and sorry for my delayed answer. Great job in finding and analysing the bug.

I could not implement a fix and merge it to the dev branch resulting in Serilog.Sinks.MSSqlServer.5.6.0-dev-00377 being published on nuget.org.

I verified that the problem is fixed with the code you posted above, so I will close this issue now. But if you find time to test the dev package and give me som

[2020-09-20 22:28] #312 closed

[2020-09-23 01:37] flipdoubt opened #314 "Serialize properties as JSON rather than XML"
Is there any way to serialize properties as JSON rather than XML? The LogEvent column packs in the properties in a much more concise manner.

[2020-09-23 02:03] flipdoubt commented on #314
Just use the `LogEvent` column instead of `Properties` and ignore the standard columns to log only the properties as JSON. Thanks, self. :)

[code]

[2020-09-23 02:03] #314 closed

[2020-09-26 16:20] ie-zero commented on #283
Hi,

I encounter the `System.TypeInitializationException: 'The type initializer for 'Microsoft.Data.SqlClient.SNINativeMethodWrapper' threw an exception.'` access on the `samples\AppConfigDemo` connecting to a local SQL Server Express database.

The application is executed on Framework 4.6.1 and in my case the `Microsoft.Data.SqlClient.SNI` v1.1.1 does resolve the issue.

As I can see `Microsoft.D

[2020-09-27 20:34] arex388 commented on #283
@ckadluba Sorry for the long delay in responding. Been busy with the project... Anyway, today I decided to give updating a try and I updated:

- Serilog from 2.9.0 to 2.10.0.
- Serilog.AspNetCore from 3.2.0 to 3.4.0.
- Serilog.Sinks.MSSqlServer from 5.3.0 to 5.5.1.

After publishing to the server the `Microsoft.Azure.Services.AppAuthentication.dll` file is published and running the applications se

[2020-09-28 17:58] ie-zero commented on #283
Hi @ckadluba,

It is really great that this issue has been fixed but the same exception is thrown by the `samples\AppConfigDemo`. Should I raise a separate issue and resolve this one?

[2020-09-28 22:17] ckadluba commented on #283
@arex388 that is good news. Thank you very much for taking the time and trying this out with the new versions and coming back with feedback. We appreciate this a lot. I'm closing this issue now.

@ie-zero thanks for reporting the problem in `samples\AppConfigDemo`. Please report this in a new issue as you suggested. Thanks a lot!

[2020-09-28 22:18] #283 closed

[2020-09-29 09:35] jonorossi opened #316 "SinkOptions namespace"
The recently added `SinkOptions` class is in the namespace `Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer.Options`, was it intentional to be the only class in this deep namespace?

https://github.com/serilog/serilog-sinks-mssqlserver/blob/930459c0d1a39b92933386a39f2e5d73a3021789/src/Serilog.Sinks.MSSqlServer/Sinks/MSSqlServer/Options/SinkOptions.cs#L3

[2020-09-29 09:48] ckadluba commented on #316
Hi @jonorossi! Yes, that war intentional to keep the source tree structure in sync with the class namespaces. I would not wanted to put it into the root level (Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer) because there shouldn't be many items at this level.

I think the ColumnOptions class would also belong into Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer.Options but this class was already present

[2020-09-29 11:37] jonorossi commented on #316
I was specifically referring to the double `Sinks.MSSqlServer` in the namespace, making it 6 levels deep, no other class is in `Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer.*`, the root namespace is `Serilog.Sinks.MSSqlServer`.

Regarding `ColumnOptions`, I prefer the public types in the single namespace so using the sink only requires a single using statement, otherwise wouldn't just about everyth

[2020-09-29 17:52] mastronardif commented on #185
I have a similar issue.  It has something to do with security I can access the DB and do queries.  I see setting the AccessToken in the config setting.

var adoConn   = "Server=tcp:sql-zzzzznonprod.database.windows.net,1433;Initial Catalog=AzureHRODS-NonProd;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;";

Question:
How can Serialog set the A

[2020-09-29 18:47] ckadluba commented on #316
Oh, the double Sinks.MSSqlServer is of course a mistake. Unfortunately I've discovered this after the class was added and a package was released. Changing it would be a breaking change so I have to leave it for now.

I also see your point about having all or most public classes in one namespace. It makes the library interface appear a little less cluttered for consumers. I'll think about it. Maybe

[2020-09-30 04:46] mastronardif commented on #302
Hi Folks,
Is this Feature available, I read somewhere in this project it was bein worked on around Dec 2019.
It would be nice if you can add "Tenant/Use access Token" to the Options section.  It appears the ODBC Msql connection string has an "Access token" in the connection string but I have yet to get that to work.  Also from what I have researched I can not fine that you can add this to the conn

[2020-09-30 06:14] jonorossi commented on #316
Exactly why I didn't send a pull request 😉

I had a look through other sinks that also have a `*SinkOptions` class and it looks like only Elasticsearch and Elmah sinks have this type of class:

- `Serilog.Sinks.Elasticsearch.ElasticsearchSinkOptions`
- `Serilog.Sinks.ElmahIo.ElmahIoSinkOptions`

However, those sinks use the SinkOptions class for all options, not just some of them. Is your intentio

[2020-09-30 21:12] ckadluba commented on #316
@jonorossi That sounds very good. I'd be happy to get such a PR.

Could you please also update the README.md in your PR to change all references of `SinkOptions` to `MSSqlServerSinkOptions` and if possible also upgrade all programs under samples\ to use the new class? If the latter part is too much hassle, I could do that later in another PR but the doc should be updated in any case.

[2020-09-30 21:24] ckadluba commented on #302
@mastronardif MSSqlSink currently only works with Azure system managed id. User managed id is not yet supported as stated by @clientbala in this issue. I currently have no time to implement nor have I researched what would be necessary to imlement it but we are always open for a PR that adds that functionality.

[2020-10-01 02:39] jonorossi commented on #316
@ckadluba will do. I'll try to get to it later today, otherwise tomorrow. Feel free to assign the issue to me.

[2020-10-04 14:33] jonorossi commented on #316
I just submitted #317.

I realised while making the change that C# 9.0's target-typed new expressions could make this nicer in the future if all optional parameters were properties on the sink options class:

[code]

[2020-10-06 11:08] #316 closed

[2020-10-06 11:08] ckadluba commented on #316
Good work! Thank you very much for the excellent contribution. 👍

[2020-10-06 11:42] jonorossi commented on #316
Happy to help.

[2020-10-10 11:42] apppoint-release opened #318 "Default value for additional sql columns in the table."
Feature request -
Is there a way to set default value for additional columns?. It only supports referencing property names, but in some cases, we want to have additional columns with default values in order to fulfill other operational or integration requirements.

[2020-10-10 19:26] flipdoubt opened #319 "Render property values without quotation marks, as in outputTemplate"
Is there any way to render properties without quotation marks to have the same result as an outputTemplate of "{Message:l}"? I am aware I can format individual properties as literals like "Started job named {JobName:l}", but I would rather not have to add the literal formatter to every property.

[2020-10-19 12:43] zraffaele opened #320 "Update a record log"
It is possible to update a record log instead of making a new insert.

[2020-10-19 15:23] ckadluba commented on #320
Hi! Thanks for getting in touch.

Modifying log data once it was written is not possible. This would contradict the basic concept of logging, where log data is only created but never modified again by the logging system.

But maybe there is another way to achieve what you need to do. What is the use case you would need this for?

[2020-10-19 15:29] ckadluba commented on #319
Hi, and thanks for the question.

Can you give me some sample code to demonstrate this? Perhaps you could just modify one of the demo apps in the samples directory to demonstrate your problem.

[2020-10-19 15:35] ckadluba commented on #318
Hi and thanks for your request.

I will consider this feature but cannot make any promise right now. In the meantime, we are always open for a good pull requests. :)

[2020-10-19 15:40] ckadluba commented on #202
Hi, and sorry for the late answer.

This sounds like a very useful enhancement. I will consider it but cannot make any promise at the moment. In the meantime we are always open for a good PR if someone has time to do it.

[2020-10-20 08:00] zraffaele commented on #320
Hi, thanks for the reply.
The use case I am looking for is for example when you want to log a procedure that iterates through a dataset, list of files etc., see it as a partial log. This because i've a console that read in ~ real time the data in the table.

[2020-10-20 09:21] gandyofthesea commented on #202
Just to throw some support on, I would also really appreciate this feature enhancement.

thanks

[2020-10-21 09:52] #205 closed

[2020-10-22 08:11] wf-soft opened #321 "Why can't property values be written to the database"
@ckadluba Hi ckadluba!

Why can't property values be written to the database.

![image](https://user-images.githubusercontent.com/62228539/96843648-25a77400-1481-11eb-9849-887eabd511a8.png)

[2020-10-22 08:25] ckadluba commented on #321
Hi @wf-soft! Could you please post your code that initializes the sink and creates the log events?

[2020-10-22 08:29] wf-soft commented on #321
`var columnOptions = new ColumnOptions();
            //columnOptions.Store.Remove(StandardColumn.Properties);
            //columnOptions.Store.Add(StandardColumn.LogEvent);

            columnOptions.AdditionalColumns = new Collection<SqlColumn>{
                            new SqlColumn{ColumnName = "SourceContext", PropertyName="Properties.SourceContext", DataType = SqlDbType.NVarChar, DataLen

[2020-10-22 08:29] wf-soft commented on #321
var columnOptions = new ColumnOptions();
            //columnOptions.Store.Remove(StandardColumn.Properties);
            //columnOptions.Store.Add(StandardColumn.LogEvent);

            columnOptions.AdditionalColumns = new Collection<SqlColumn>{
                            new SqlColumn{ColumnName = "SourceContext", PropertyName="Properties.SourceContext", DataType = SqlDbType.NVarChar, DataLeng

[2020-10-22 08:31] wf-soft commented on #321
@ckadluba   Tried for a long time, but didn't know how to write the custom property

[2020-10-22 08:34] wf-soft commented on #321
![image](https://user-images.githubusercontent.com/62228539/96846424-7a002300-1484-11eb-9040-520fd11acb3b.png)

[2020-10-22 08:50] wf-soft commented on #321
@ckadluba I think I get it. This may need to use messageTemplate. Sorry, thank you

[2020-10-23 14:45] flipdoubt commented on #319
Hi, @ckadluba. Thanks for the reply. I just ran the [CombinedConfigDemo](https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/CombinedConfigDemo) and found the log template ""Hello {Name} from thread {ThreadId}" gets logged with quotation marks around the string "{Name}" as shown below.
![image](https://user-images.githubusercontent.com/810378/97017942-8768ec00-151c-11eb-8ba4-d9c92

[2020-10-23 15:00] flipdoubt commented on #202
I find myself needing more control over the message output as well. The OP can log the entire exception and stack trace by not providing an additional message, like `logger.Error(ex, ex.ToString())`. If you want to add a message to the exception you can add to `Exception.Data` or throw a custom exception.

In our ASP.NET Core app, unhandled exceptions appear to call `logger.Error(ex, ex.ToString()

[2020-10-23 15:39] #321 closed

[2020-10-23 15:40] ckadluba commented on #320
Can you post some sample code?

[2020-10-28 22:06] ckadluba commented on #196
I could not reproduce this either. I added your lowercase example to the App.config of the `samples\AppConfigDemo` program and then I got a `ConfigurationErrorsException` with 3 inner exception where the first one is a `TargetInvocationException` and the third one being a `ConfigurationErrorsException` stating that the attribute is not recognized,

![grafik](https://user-images.githubusercontent.c

[2020-10-28 22:09] #181 closed

[2020-10-28 22:11] #179 closed

[2020-10-28 22:20] ckadluba commented on #176
Hi @eliassal! Thank you for reporting the issue and sorry for the late late reply.

Since the time of your report a lot of changes, refactorings and bugfixes were done in MSSQL sink, It was almost completely rewritten. I just tried to reproduce your problem by adding an AuditTo() call in the program in `samples\AppConfigDemo` and it worked as expected.

Therefore I guess the problem is fixed in th

[2020-10-28 22:20] #176 closed

[2020-10-28 22:34] ckadluba commented on #185
Hi @mastronardif Azure user managed identities (which is what you need) is not supported by the sink but there is an open feature request (#302) for that and a PR is always welcome. :)

[2020-10-29 07:48] ckadluba commented on #202
After rethinking this I came to the following concusions.

File and console are just serial streams of data. This is why those sinks need to format each log event according to an output template.

Like @R4cOOn correctly noted, with an SQL database the concept is different. The MSSQL sink can map different properties (TimeStamp, Level, Exception, Message, etc.) to different columns in the log table

[2020-10-29 12:27] flipdoubt commented on #202
My initial observation about the message containing the complete stack trace in the message was actually caused by my application calling `logger.Error(exception, exception.ToString)`, so that issue is solved.

The fact remains that our application still has no way of configuring how the MSSQL sink formats the `Message` column globally, as we do in most other sinks. For my use, I simply want to co

[2020-10-29 13:57] ckadluba commented on #202
@flipdoubt I see your point. Unfortunately the quotes around the property names are not generated in MSSQL sink but in the serilog core (https://github.com/serilog/serilog/blob/24d623769fd7a00b348af3dac0b875bf23b3aea5/src/Serilog/Events/ScalarValue.cs#L69).
Passing your own custom `ITextFormatter logEventFormatter` to MSSQL sink would not help because this formatter is only used when generating th

[2020-10-29 15:51] bdaniel7 opened #322 "type MSSqlServerSinkOptions not found in v 5.5.1"
The code doesn't compile.

The code should compile.

- Serilog: 2.10
- Serilog.Sinks.MSSqlServer: 5.5.1

[x] .NET Core 2.2
OS: Windows 10 Pro

[code]

When I'm using var sinkOpts = new SinkOptions(); the code compiles.

It looks like changing the name from SinkOptions to MSSqlServerSinkOptions was done on Oct 4th, 2020, while the most recent nuget is from Jul 29th.

[2020-10-29 20:55] flipdoubt commented on #202
Exceptions are pre-rendered as you suggested, but it is the informational messages where we get sub-optimal messages like `'Job #"000098" generated Invoice #"907837"'`. If we pre-render there, then we lose those `JobNumber` and `InvoiceNumber` properties for correlation.

[2020-10-30 01:03] jonorossi commented on #322
@bdaniel7 I contributed the rename of `SinkOptions` to `MSSqlServerSinkOptions` and changed the namespace in #317 which hasn't been released yet. It is completely safe to use use `SinkOptions` as the `SinkOptions` class will remain in the new version. The change is backwards compatible, so taking a look at the README for 5.5.1 rather than master will be the guide.

[2020-10-30 07:07] ckadluba commented on #322
It is excactly like @jonorossi described it. I plan create a release soon, so you will be able to use `MSSqlServerSinkOptions` in the next non-dev nuget package version.

[2020-10-30 07:07] #322 closed

[2020-10-30 07:10] ckadluba commented on #319
The same issue is discussed in #202 so I'm closing this duplicate.

[2020-10-30 07:10] #319 closed

[2020-10-30 07:44] ckadluba commented on #318
Can you tell me a bit more about the operational and integrational requirements you are dealing with? Is there an existing database with non-nullable columns that have no default values set in the database?

[2020-10-30 08:01] ckadluba commented on #302
@clientbala are you still up for this task? Do you need any help with it? If you have no time or cannot do it for any other reason, it's no problem. But in this case just let me know, so we can remove the assignment and set it "up for grabs".

[2020-10-30 09:10] apppoint-release commented on #318
Yes, some of the columns are not null without default values in the db schema, logs are split based on the logger namespace into multiple tables using filter conditions. In some cases, we need default values to be set for non null columns. Hope this information helps.

[2020-11-02 10:47] PierreLucB opened #323 "CloseAndFlush doesn't works as expected"
The method Log.CloseAndFlush(); doesn't writes to SQL database.

I have a console program with the following code :

        static void Main(string[] args)
        {
            Logger logger = new LoggerConfiguration()
              .WriteTo.MSSqlServer(
                  connectionString: connectionString,
                  tableName: logTable,
                  columnOptions: _columns.Value

[2020-11-02 18:26] ckadluba commented on #323
Are you sure that in your program Log.CloseAndFlush() really gets called? When you set a breakpoint on it, is it actually hit?

We have some sample apps in the sample dir that use Log.CloseAndFlush() successfully but not in an exit callback like in your sample. We just call it at the end of Main(). So maybe you could also try that to rule out that there is a peoblem with the callback.

[2020-11-02 18:28] ckadluba commented on #323
One more thing: I'm not sure if verbose logs are actually written according to the default MinimumLogLevel. See documentation for details.

[2020-11-03 07:32] PierreLucB commented on #323
Yes I'm sure my code is working. Have you tried it ?

Like I said, I have to call the .Dispose() method to write in database.

So I'm doing this today to make it works :
`AppDomain.CurrentDomain.ProcessExit += new EventHandler((o, s) => { Log.CloseAndFlush(); Logger.Dispose(); });
`

If you really don't trust me, I can produce easily an example on a github repository and you will have to change th

[2020-11-03 13:11] jonorossi commented on #323
[code]

The provided example isn't complete, missing `connectionString`, `logTable`, `_columns` and `Logger`. Assuming `Logger` is a property in your program, you are flushing the statically accessible logger without setting it, however in your last example with `Dispose` you are disposing the logger assigned to the `Logger` property.

[2020-11-03 14:00] PierreLucB commented on #323
Okay,
I have a case where nothing works (Dispose call or not). ALL the code is here :
So my Program.cs class ;

    using Serilog;
    using Serilog.Core;
    using Serilog.Sinks.MSSqlServer.Sinks.MSSqlServer.Options;
    using System.Configuration;
    using System.Diagnostics;

    class Program
    {
        static void Main(string[] args)
        {
            Serilog.Debugging.SelfLog.Enable(

[2020-11-03 14:43] jonorossi commented on #323
`Log.CloseAndFlush()` in your last example is still doing nothing since `Log.Logger` will still be a `SilentLogger`, you don't have to use the statically accessible logger, `Log.CloseAndFlush()` just disposes the logger that is assigned to it.

The SQL Server sink's default `restrictedToMinimumLevel` is verbose (i.e. all events), no need to override it, however Serilog's default minimum level is i

[2020-11-03 14:47] ckadluba commented on #323
With your sample I was able to reproduce your problem. You call `Log.CloseAndFlush()` but that does only work if you assign the static property Log.Logger first. So I added this to your program.

[code]

After that, the SelfLog delegate was executed with an error message. Probably due to an additional problem with my test DB. But at least the Log.CloseAndFlush worked.

Anyhow, the Dispose() seems

[2020-11-03 14:49] PierreLucB commented on #323
Thank you, I wasn't using the logger as I should I guess.

[2020-11-03 21:46] Stallind opened #324 "Rename SinkOptions -> breaking change"
There seems to be a breaking change in 5.6.  I checked the sample and couldn't get this to work because I downloaded the latest stable version.  As a new Serilog user this took me way to long to figure out.

https://github.com/serilog/serilog-sinks-mssqlserver/blame/dev/sample/CombinedConfigDemo/Program.cs#L41

I had to rename this to SinkOptions to get it to work.

![image](https://user-images.gi

[2020-11-03 22:21] ckadluba commented on #324
The latest stable version is 5.5.1. Stable versions are built from master. Preview versions are built from dev. The version of the sample you used is yet only in the dev branch (observe the link you posted). If you want to use that sample from the dev branch, make sure you use the latest preview package.

https://www.nuget.org/packages/Serilog.Sinks.MSSqlServer/5.6.0-dev-00381

Anyway, since this

[2020-11-03 22:22] #324 closed

[2020-11-03 22:33] Stallind commented on #324
Thanks for your quick reply, I see now that I used the dev branch as it was the result from google. My bad. :)
Have a good day

[2020-11-03 22:42] ckadluba commented on #324
No problem. Questions are always welcome. 😊

I admit, it can be confusing, since often master is the default branch but in this repo PRs get merged into dev and then we merge dev into master when we release.

[2020-11-06 16:57] flipdoubt commented on #202
At this point, the problem is that the same message template, `"Job #{JobNumber} generated Invoice #{InvoiceNumber}"`, renders properly for the Console and File sinks because the output template is `"{Message:lj}"`. Is there really no way to achieve the same output with the MssqlServer sink?

[2020-11-06 23:16] ckadluba commented on #323
Hi @PierreLucB. I took a closer look at why logger.Dispose() would not trigger a CloseAndFlush() in my testing with your sample program. The answer was exactly what @jonorossi correctly stated. You need to set Serilogs minimal log lever to verbose (e.g. `LoggerConfiguration.MinimumLevel.Verbose()`). Then you could use logger.Dispose() or assigng Log.Logger and call Log.CloseAndFlush() at the end.

[2020-11-06 23:16] #323 closed

[2020-11-06 23:40] #320 closed

[2020-11-06 23:48] ckadluba commented on #202
Can you show a full sample of the log call that creates your log event containing the `"Job #{JobNumber} generated Invoice #{InvoiceNumber}"` message?

[2020-11-09 21:11] papiermache opened #327 "primaryKeyColumnName not working"
appSettings.json - sink has "primaryKeycolumnName" set to non-default name ("RecordId"). Results in error: "Unable to write 1 log events to the database due to following error: The given ColumnMapping does not match up with any column in the source or destination." Removing this one line (and renaming the column back to "Id") and it all works again.

- Serilog: v2.10.0
- Serilog.Sinks.MSSqlServer:

[2020-11-09 21:14] papiermache commented on #327
UPDATE - it doesn't work even if "Id" is specified as the primaryKeyColumnName, so it appears its the handling of this property itself that is the issue.

[2020-11-10 13:11] flipdoubt commented on #202
As shown in the closed #319 ticket, the [CombinedConfigDemo](https://github.com/serilog/serilog-sinks-mssqlserver/tree/dev/sample/CombinedConfigDemo) shows how the string passed into the `Log.Information` call on [line 52](https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/sample/CombinedConfigDemo/Program.cs#L52) renders with quotation marks, shown below where the user name is in quota

[2020-11-11 17:26] ckadluba commented on #327
`PrimaryKeyColumnName` is only used when you configure MSSQL sink to create the log table for you by setting `AutoCreateSqlTable` to true. It is useful if you want any other than the standard column `Id` to be created as the PK. If you want the PK column not to be one of the predefined standard columns (for instance "RecordId", like in your sample), you must also add that column to the definition

[2020-11-11 17:26] #327 closed

[2020-11-11 17:35] papiermache commented on #327
Hello Christian,
Thank you for resolving this.  Your solution is neither intuitive nor (well) documented, but it works.
Regards, Rick.

From: Christian Kadluba <notifications@github.com>
Sent: November 11, 2020 12:27 PM
To: serilog/serilog-sinks-mssqlserver <serilog-sinks-mssqlserver@noreply.github.com>
Cc: Rick Piovesan <rick.piovesan@detaya.com>; Author <author@noreply.github.com>
Subject: Re: [

[2020-11-11 17:37] ckadluba commented on #202
I see what you want to achieve but unfortunately I cannot think of a way to implement that in MSSQL sink without bypassing the call to the Serilog core for rendering the message.

Any good ideas and PRs are welcome. But we have to rely on the Serilog core to render the message.

If you cannot change your message templates to remain independent of Serilog, have you looked at writing a custom enrich

[2020-11-12 17:21] Gondost opened #328 "Existing code breaks after updating from 5.5.1 to 5.6.0"
An exception is thrown when I attempt to log to the sink. The configuration works under 5.5.1, but not under 5.6.0. When I revert back to version 5.5.1, the project builds logs successfully
`TypeLoadException: Could not load type 'Serilog.Sinks.PeriodicBatching.IBatchedLogEventSink' from assembly 'Serilog.Sinks.PeriodicBatching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10'.`

[2020-11-13 00:12] jonorossi opened #329 "Git tag for 5.6.0 is named v385"
Previous Git tag's for releases were named after their version number, is there a reason 5.6.0 is named `v385` rather than `v5.6.0`?

There are a bunch of other `vNNN` tags which I assume are a build number, looking at the packages published to NuGet.org it appears they are the build numbers for releases, e.g. `v324` looks like 5.4.0 because the 2 pre-releases around it are 326 and 328, and both `

[2020-11-13 00:21] jonorossi commented on #328
This sink upgraded from PeriodicBatching 2.1.1 to 2.3.0 in the 5.6.0 release, however [`IBatchedLogEventSink` was added to `PeriodicBatching` in 2.3.0](https://github.com/serilog/serilog-sinks-periodicbatching/commit/4bafdc73c8f52e14049883a9d89ed7a60a683f97), so it appears you've still got an old version the PeriodicBatching library around somewhere in your project which obviously doesn't have the

[2020-11-13 08:41] ckadluba commented on #329
Hi @jonorossi! You are right, the vNNN tags are created by the AppVeyor build whenever a non-prerelease version (from master) is built. It contains the AppVeyor build number.

I manually changed some of these tags to match the release versions in the past. But then I thought, it might be okay to leave them at the build number because the mapping (which vNNN tag matches which release) is visible on

[2020-11-13 08:41] #329 closed

[2020-11-13 08:50] jonorossi commented on #329
Thanks. I went to do a git diff between two versions and found the tag didn't exist, without information stored elsewhere I wouldn't know which tag was 5.6.0, so I'm glad you agree it is important the tags match the packaged version.

The pre-release `vNNN` tags should probably be the full version, e.g. `v5.6.0-dev-00383` to match the prerelease package. The main Serilog repo even has a Git tag `v

[2020-11-13 14:24] Gondost commented on #328
That was my first suspicion as well, an old version of `Serilog.Sinks.PeriodicBatching.dll` hanging out somewhere in the project. I tried a Clean and Rebuild in VS, then also went the extra step of fully deleting the ./bin and ./obj folders entirely and trying again. Unfortunately, neither one worked and I still receive that error. The file `Serilog.Sinks.PeriodicBatching.dll` in my bin folder sho

[2020-11-13 14:45] jonorossi commented on #328
@Gondost 5.6.0 definitely works for me so that is strange. It must still be using the old library but from somewhere else maybe, could you add this to your application after you've created a logger:

[code]

Maybe provide your brand new project that reproduces the problem, however it might be something with your machine.

[2020-11-13 15:05] Gondost commented on #328
@jonorossi Ahh I found the problem after logging the assembly location.

![StrayAssembly](https://user-images.githubusercontent.com/20675257/99086414-7fd6b900-2597-11eb-9366-cfd8389be3e1.jpg)

I don't remember putting it in the GAC, but evidently I did at some point. Everything works now as it should. Thanks!

[2020-11-13 16:01] ckadluba commented on #328
Cool that this could be sorted out. Thank you @jonorossi for the great support.

[2020-11-13 16:01] #328 closed

[2020-11-16 15:45] jean-paul-scorito opened #330 "missing documentation on appsettings.config"
I am looking for documentation on how to convert the .json version to .config
![image](https://user-images.githubusercontent.com/72377307/99274914-2b4b6c00-282b-11eb-8957-bad2cd3783a5.png)

I asked on gitter but have not had an answer yet.

[2020-11-17 00:09] jonorossi commented on #330
Have you tried following the examples in the readme:

[code]

https://github.com/serilog/serilog-sinks-mssqlserver#xml-columnoptions-systemconfiguration

[2020-11-17 05:39] jean-paul-scorito commented on #330
I have not tried that one, i went with the one under it but that one doesnt state how to add extra column options: https://github.com/serilog/serilog-sinks-mssqlserver#xml-sink-serilogsettingsappsettings

Outlook for Android<https://aka.ms/ghei36> downloaden

________________________________
From: Jonathon Rossi <notifications@github.com>
Sent: Tuesday, November 17, 2020 1:09:16 AM
To: serilog/ser

[2020-11-17 07:15] jonorossi commented on #330
Sorry, not sure how to use just an `appsettings.config` file, the syntax would be complex being just key-value pairs.

Jumping from `Serilog.Settings.AppSettings` to `Serilog.Settings.Configuration` it sounds like complex objects are supported, [explicitly calling out `List<Column>` for this sink](https://github.com/serilog/serilog-settings-configuration#complex-parameter-value-binding). `Serilog.

[2020-11-17 08:12] jean-paul-scorito commented on #330
That is a good suggestion! I will look into combining/replacing the appsettings.config with a .json version of it!

[2020-11-17 08:12] #330 closed

[2020-11-18 11:27] jean-paul-scorito commented on #330
Reporting back with positive news;
Combinding both methods (appsettings.config and xml system configuration) works like charm!

[2020-11-23 21:03] vitoras commented on #312
Hi there!

Since the update 5.6.0 came out, one of our tables stopped being logged when using **WriteTo.MSSqlServer**, instead it's only working with **AuditToMSSqlServer**. We have two more tables being logged that remained working fine, but I should mention that this particular table is the only one out of the three that have some varbinary columns which I was just ignoring when adding its colum

[2020-11-23 21:41] ckadluba commented on #312
hi @vitoras!

Thanks for getting in touch. This issue is already closed, so please open a new one for your problem.

Don't forget to include your code and table schema that produce the problem.

One more hint: try to activate selflog as described in the readme to find out the reason of the silent failure. Please include that too.

[2020-11-23 22:35] batkuip opened #331 "PublishSingleFile fails at runtime"
When publishing a dotnet 5 project with **PublishSingleFile=true** and basic setup it will fail at runtime with

`Unhandled exception. System.Configuration.ConfigurationErrorsException: Configuration system failed to initialize
 ---> System.IO.FileNotFoundException: The system cannot find the file specified. (0x80070002)
   at System.Reflection.RuntimeModule.GetFullyQualifiedName()
   at System.Re

[2020-11-27 13:58] ckadluba commented on #331
Hi @batkuip! Thank you for reporting your problem.

I tried to reproduce it by using `samples\CombinedConfigDemo` and changed it into a .NET 5.0 application.

![image](https://user-images.githubusercontent.com/10721825/100455309-c4e20b80-30be-11eb-8302-f6174564180f.png)

Then I used the following dotnet publish command to generate a single exe file.

[code]

When I ran the generated sample\Combine

[2020-12-08 17:26] Jaxelr opened #333 "Docs: Missing Sink Configuration Options"
Bug Report / Support Request Template
--------------------------------------

Just wanted to point out that on line 489 ([this section](https://github.com/serilog/serilog-sinks-mssqlserver#properties)) of the README file there is al link to a section called Sink Configuration Options that doesn't exist on the Readme.md file.

[2020-12-08 18:01] ckadluba commented on #333
Hi @Jaxelr! Thanks for pointing this out. I corrected the broken link.

[2020-12-08 18:01] #333 closed

[2020-12-11 04:07] rimmonmonson opened #334 "ColumnOptionsSection in Appsettings.Json not working"
**Dependencies:**

- Serilog.AspNetCore" Version="3.4.0"
- Serilog.Sinks.MSSqlServer" Version="5.6.0

.NET Core 2.0 & OS: Windows 10

**Serilog configuration code:**
Log.Logger = new LoggerConfiguration()
         .ReadFrom.Configuration(config)
         .CreateLogger();
**Serilog configuration file:**
{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {

[2020-12-16 13:18] ckadluba commented on #334
Hi @rimmonmonson!

Your appsettings.json has an invalid structure. The `columnOptionsSection` element is outside of the `Args` element but it needs to be nested under it just like all other parameters.

A valid sample can be found in `samples\WorkerServiceDemo`.

https://github.com/serilog/serilog-sinks-mssqlserver/blob/dcdb0cb87ad8bdc2f94229579acb57c3abfdfa3c/sample/WorkerServiceDemo/appsettings.

[2020-12-16 13:18] #334 closed

[2020-12-16 13:19] ckadluba commented on #331
@batkuip are there any news on this?

[2020-12-16 13:19] #196 closed

[2020-12-16 13:24] ckadluba commented on #185
Since this report is quite old and we have rewritten a lot of the code in the meantime, I encourage everyone to update to the newest version of the sink. Perhaps the problem is gone, because there were no reports of this for a long time. If the problem reappears with the latest version, pleas open a new but.

I'm closing this issue.

[2020-12-16 13:24] #185 closed

[2020-12-16 14:32] Plevi1337 commented on #331
Hi,

I've managed to reproduce the issue as well. First I thought the only requirement is that you set PublishSingleFile flag to true, but you need to set it to self contained too.

[2020-12-16 14:36] batkuip commented on #331
Apologies - I'll run another test tomorrow.

[2020-12-16 15:04] ckadluba commented on #331
@Plevi1337 Thanks. I will try it.

[2020-12-16 23:28] batkuip commented on #331
I've just replicated it in a clean worker project.  PublishSingleFile is all that is needed.
dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true

[test.zip](https://github.com/serilog/serilog-sinks-mssqlserver/files/5706024/test.zip)

[2020-12-29 17:44] ckadluba commented on #331
@batkuip thanks for the sample. I hope I find time to look at it in the next couple of days.

@benrobot Interesting. Thanks for the information. If you create an issue for the file sink, please link it here. Thanks! :)

[2021-01-02 00:56] ckadluba commented on #331
@batkuip I tried your test.zip sample today. Just for clarification? Was the "DefaultConnection" connection string present in the appsettings.json when you reproduced the problem or did you read if from somewhere else? If I take the program as is, it runs into an error because the connection string is not present in the appsettings.json and then the sink just uses the passed passed value "DefaultC

[2021-01-11 05:21] batkuip commented on #331
I can't make it work with the DefaultConnection - it doesn't seem to make any difference.  Note that it works fine with if I don't publish as single file.  Running version 5.0.101.

![dotnet5 version](https://user-images.githubusercontent.com/110234/104149018-d1c97d00-5428-11eb-871f-1d5c1a052abf.png)
![dotnet5 nosingle](https://user-images.githubusercontent.com/110234/104149022-d3934080-5428-11eb-

[2021-01-13 09:34] SpaceZZ commented on #331
Hi there,

I have exactly the same issue. Self-contained .NET 5.0 and single-file.
Working fine if not published into single-file.

I tried to configure MSSQL sink through code and it didnt change anything. Works if single file is not produced.

Dotnet version -  5.0.101
Serilog.Sinks.MSSqlServer - 5.6.0

![image](https://user-images.githubusercontent.com/15617348/104433301-3e0fc200-558a-11eb-8257

[2021-01-13 19:56] flipdoubt opened #335 "Is there anyway to disable the MSSQL sink in appsettings.json without replacing all Serilog configuration?"
We have some deployment scenarios where we do not want to have any connections to the database. Does that mean we need to move the entire `Serilog:WriteTo:Mssql` section to the production config just to prevent connecting to the database? Is there an easy way to disable the sink other than removing it entirely?

[2021-01-13 20:08] flipdoubt commented on #335
Adding the following to `appsettings.Production.json` file will do for now:

   `"Serilog:WriteTo:Mssql:Args:restrictedToMinimumLevel": "Fatal"`

Is there any other option?

[2021-01-16 21:36] ckadluba commented on #335
Hi and thanks for your question!

You could also do the sink initialization programmatically (as shown in the CombinedConfig sample) an then add or don't add the MSSQL sink based on a config value of your choice. If you initialize in code you can still have the sink read most of its values directly from the config. The sample demonstrates this.

[2021-01-16 21:36] #335 closed

[2021-01-19 21:50] joshmichaud opened #336 "HostedService repeatedly running when using SQL sink"
Hello. I'm currently developing a web API in .NET Core 3.1 that uses the SQL sink feature to write off errors to an Azure-hosted database.

The first phase of this web API is just a hosted service (what I referred to in my code as a "cron job") that runs every 15 minutes to write off a file to an Amazon bucket.

The Serilog sink writes to text files without any issues whatsoever. The SQL sink will

[2021-01-25 01:07] ckadluba commented on #331
Maybe the problem is the same as described here.

https://stackoverflow.com/questions/64929114/deploy-as-single-file-in-net5-with-log4net-throws-exception-for-config-file

But for some reason, I'm not yet able to reproduce it in my environment.

Just to confirm this assumption, could you please try to publish with IncludeAllContentForSelfExtract set to true and see if it works then?

[code]

[2021-01-25 01:35] batkuip commented on #331
That worked.  So we have a workaround at least.  I'm still not finding any information what is causing it and how to fix it other than apps need a "net5 compatibility update" whatever that means in this case.

It gets more weird though
IncludeAllContentForSelfExtract=true works
IncludeNativeLibrariesForSelfExtract=true does not - so it's not native library related
However, the file sizes and numbe

[2021-01-30 10:13] JHBonarius opened #337 "Not getting feedback for configuration (column options) error."
#Bug Report / Support Request Template
--------------------------------------
##Please clearly describe what the SQL Sink is doing incorrectly:**
I made an error (typo) in the configuration of SQL Sink, but I got no information that I did so.
No entries were written to the SQL table. There was no error in the MS SQL server profiler. I got no exceptions in VS debug. I got no logging in the Debug wi

[2021-01-30 12:06] jonorossi commented on #337
You wouldn't want your application to throw an exception if it couldn't log. This isn't a SQL Server sink issue, Serilog is designed to continue silently, however you can use the `SelfLog` to capture any errors logging.

See: https://github.com/serilog/serilog/wiki/Debugging-and-Diagnostics

I've set up applications before to write to both stderr and the Windows Event log in half a dozen lines of

[2021-01-30 23:26] ckadluba commented on #337
In addition to the clues that @jonorossi  gave, for troubleshooting MSSQL sink problems refer to https://github.com/serilog/serilog-sinks-mssqlserver#troubleshooting

[2021-01-30 23:26] #337 closed

[2021-01-30 23:53] ckadluba commented on #336
Pleas be aware that MSSQL sink blocks on Log() calls when using the audit logger (```AuditTo()```) until the DB write operation returns. If a network error happens (e.g. due to a wrong or unreachable server addess) this could take seconds. This might be the cause of strange timing side effects you experience within your async task.

Can you try the non-audit version of the sink (using ```WriteTo()

[2021-02-02 19:21] joshmichaud commented on #336
I'm no longer seeing repeating triggers, so that's good. I read that the WriteTo builds a queue instead of writing as the error occurs. Is there a configuration to circumvent that? My supervisor does not want to give me permissions to create a trust policy between two Azure interfaces for some reason.

[2021-02-05 20:54] ckadluba commented on #336
That queuing is the is the way the batched sink (configured with `WriteTo()`) works and there is no way to change this behavior. By design it also silently fails if there are any problems when writing the queued log messages to the DB but therefore it also does not block the caller nor does it throw execeptions it that case. But you can always enable SelfLog to see any errors that happen in batche

[2021-02-05 20:54] #336 closed

[2021-02-10 13:29] harry-flw opened #338 "The application works as a background process after closing when there is no network connection."
Hi!

We use the MSSqlServer sink in our WPF application (.NET Framework 4.8 + Windows 10).

It worked absolutely fine until a break of the network connection. After that, we noticed that application works as a background process after closing.

When the application is going to be closed it uses the code below:

[code]
We have investigated this issue with help of the **dotTrace** tool and have foun

[2021-02-24 17:45] RNBermudez opened #339 "Updating to 5.6.0 breaks compatibility with Serilog.Sinks.ElasticSearch 8.4.1"
### Issue summary

Updating Serilog.Sinks.MSSqlServer from 5.5.1 to 5.6.0 breaks compatibility with [Serilog.Sinks.ElasticSearch 8.4.1](https://www.nuget.org/packages/Serilog.Sinks.Elasticsearch/8.4.1?_src=template).

It seems that in 5.6.0 the `MSSqlServerSink` class was deprecated in favor of `MSSqlServerSinkOptions`, however, the latter does not implement the `ILogEventSink` interface.

In 5.5.

[2021-02-24 23:07] jonorossi commented on #339
The `SinkOptions` class was deprecated in favour of `MSSqlServerSinkOptions` (i.e. renamed), `MSSqlServerSink` use has not changed.

This is different to the sink options class change.

As you said `MSSqlServerSink` used to inherit from `PeriodicBatchingSink`, but now just implements `IBatchedLogEventSink` and so lost being an `ILogEventSink`. This is the same change that was also made to the Emai

[2021-02-25 23:42] ckadluba commented on #339
In addition to all the correct things @jonorossi  said, I would like to ask if you could provide a full sample app to reproduce your problem.

[2021-02-25 23:46] ckadluba commented on #78
I'm closing this since there was no update for a long time. If the problem still occurs with the current version please open a new issue.

[2021-02-25 23:46] #78 closed

[2021-03-01 12:36] imaramos commented on #221
This would be indeed helpful, do you have any intention to put it in the roadmap?

[2021-03-01 13:03] RNBermudez commented on #339
@jonorossi thanks, appreciate the answer!

We may have been using the wrong class, to begin with. With version 5.5.1 it still works but shows a warning about `MSSqlServerSink` being obsolete.

![image](https://user-images.githubusercontent.com/17709641/109500262-ca137580-7a74-11eb-809e-347ea7a2275c.png)

I'll take a look at `Serilog.Sinks.PeriodicBatching`. Thanks!

[2021-03-01 17:17] ckadluba commented on #339
Like @jonorossi  already explained, we moved to the new API with 5.6.0 implementing IPeroidicBatchingSink instead of ILogEventSink. This should work with all sinks. The details are described here.

https://github.com/serilog/serilog-sinks-periodicbatching/#getting-started

and here

https://github.com/serilog/serilog-sinks-mssqlserver/issues/191#issuecomment-666055725

The obsole warning you get i

[2021-03-01 17:18] ckadluba commented on #190
No real plans for this at the moment but we are always happy to receive a good PR.

[2021-03-01 17:25] RNBermudez commented on #339
@ckadluba appreciate your reply. I'll update our application accordingly.

Many thanks!

[2021-03-01 17:25] #339 closed

[2021-03-03 00:57] Joel-S-Black commented on #279
I tried this, but am getting "Null" for the value "Level", "LogEventLevel", "{Level:u3}

[2021-03-03 06:08] ckadluba commented on #279
Hi @Joel-S-Black! Could you please open a new issue and post your code as a complete sample program that reproduces your problem.

[2021-03-04 22:59] Joel-S-Black opened #340 "Custom Columns Are Being found as null when doing runtime configuration"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2021-03-04 23:04] Joel-S-Black commented on #279
https://github.com/serilog/serilog-sinks-mssqlserver/issues/340 . Took me a few days to change the names to protect anonymity.

[2021-03-07 23:01] ckadluba commented on #340
After a fist check, it seems that the `PropertyName` functionality was only added for System.Configuration based initialization (https://github.com/serilog/serilog-sinks-mssqlserver/pull/268). System.Configuration in this sink only applies to consumers targeting .NET 2.0 or .NET Framework 4.6.1. But since your sample uses .NET Core 3.1 Microsoft.Extensions.Config is used.

[2021-03-08 00:21] ckadluba commented on #340
Okay, after revisiting the PR again and also the issue #182 that originated it, I think you interpret the functionality of `PropertyName` different from how it actually works. In your sample if you set the `PropertyName` of and the additional column named type to "Level" this does make the sink map the default property Level to the additional column type. It only means you can define a custom prop

[2021-03-08 00:32] ckadluba commented on #338
Hi @harry-flw!

Thank you for reporting this. It seems to be related to the Serilog.Sinks.PeriodicBatching thou and to to MSSQL sink. Since I cannot transfer the issue, it would be great if you could to re-open it here: https://github.com/serilog/serilog-sinks-periodicbatching.

Thank you very much!

[2021-03-08 00:32] #338 closed

[2021-03-08 15:04] Joel-S-Black commented on #340
My understanding is based on the documentation for the specific version: https://github.com/serilog/serilog-sinks-mssqlserver/tree/v5.6.0#custom-property-columns . Are you saying definitively that there is no way with this Sink to divert the "Level" property from the log event into a column of my choosing? The paragraph "Unlike previous versions of the sink, Standard Column names are not reserved.

[2021-03-08 21:59] ckadluba commented on #340
There might be a misconception about custom properties.

The MSSQL sink knows standard properties like Message, Level, DateTime, etc. Those are the properties which are predefined by the API and their values are produced by Serilog itself. The list of standard properties can be found here: https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/src/Serilog.Sinks.MSSqlServer/Sinks/MSSqlServer

[2021-03-18 13:49] GCo25 opened #341 "Currently unable to impersonate"
Currently, the sink doesn't allow to manage the connection ourselves.
It's unfortunate in regards to certains impersonation needs.
And even if the Factory pattern is implemented, there is no possibility to inject our own factories.
Is it practicable to change that and save us a fork ?

[2021-03-18 13:55] ckadluba commented on #341
Hi @GCo25! Thanks for getting in touch. Your question sounds like you have an idea how to implement a connection factory mechanism that fits your needs. If you can send a PR I'll be happy to review it and if it benefits others I'd be also happy to merge it.

[2021-03-18 14:03] GCo25 commented on #341
Hi @ckadluba
Sounds great. I'll give it a shot

[2021-03-18 21:37] Joel-S-Black commented on #340
I tried the enricher and I debugged it and the properties appear to be added. My other logs are working, but I'm getting the error message: "Unable to write 1 log events to the database due to following error: The given ColumnMapping does not match up with any column in the source or destination."

Here is the [repro](https://github.com/Joel-S-Black/repros.serilog.sinks.mssqlserver.exactproblem/tr

[2021-03-20 03:06] Joel-S-Black commented on #340
I found that if I use "AuditTo" instead of "WriteTo" on MsSqlServer (line 155 of Program.cs from https://github.com/Joel-S-Black/repros.serilog.sinks.mssqlserver.exactproblem/tree/same-sequence-with-enricher-for-new-columns ), it works.

[2021-03-22 17:32] ckadluba commented on #340
If debugged your latest sample and found different problems. But the most important one seems to be that the SQL create table script you posted above is missing max size parameters for all the varchar columns which leads a table having all those columns created with a max size of 1.

![image](https://user-images.githubusercontent.com/10721825/112024552-9c31c600-8b34-11eb-8ad4-0a9bda0cced5.png)

So

[2021-03-22 17:32] #340 closed

[2021-03-28 02:55] baffourt opened #342 "FileNotFoundException for Microsoft.Data.SqlClient"
Bug Report / Support Request Template
--------------------------------------
I am getting a FileNotFoundException: Microsoft.Data.SqlClient, Version=1.13.20136.2 could not be found though I have Microsoft.Data.SqlClient, Version=2.1.2 which is the current version.

Serilog.Sinks.MSSqlServer 5.6.0 seems not to work with the current version of Microsoft.Data.SqlClient and asks for the specific versi

[2021-04-04 22:29] ckadluba commented on #342
Hi @baffourt! Thanks for reporting your problem. I tried to reproduce the behaviour with the program in `samples\AppConfigDemo`. Therefore I upgraded the Microsoft.Data.SqlClient NuGet package to the latest version and then built and executed the app. I did this in Debug and Release config but the error did not occurr. SqlClient and all other assemblies could be loaded successfully.

Can you submi

[2021-04-07 15:38] ckadluba commented on #302
After some research, I believe that using Azure User Managed Identitiy should already be possible with the current sink implementation. I had not yet time to test it but in fact it should be possible by putting the following in the connection string (in addition to enabling the managed identities in the sink options of course).

`RunAs=App;AppId={ClientId of user-assigned identity}`

Details can b

[2021-04-13 00:33] Joel-S-Black commented on #340
Thank you very much! You are correct, my table definition provided in this issue is incorrect, sorry about that. Here is the corrected definition:

`
CREATE TABLE [dbo].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[logDate] [datetime] NOT NULL,
	[eventid] [int] NOT NULL,
	[title] [varchar](100) NULL,
	[category] [varchar](50) NULL,
	[message] [varchar](1000) NULL,

[2021-04-13 07:12] ckadluba commented on #340
I'm glad I could help. :)

[2021-05-05 00:46] harexelizaga opened #345 "Veracode Scan Show "High" Severity Security Threat within Serilog Library"
Hi,
The company I work for utilizes Serilog and we appreciate the work you guys have done. Thank you! We use Veracode to detect if any security threats exist within our code. After running a scan, Veracode detected a "high flaw" within the Serilog library. I've attached a screenshot of the flaw and its location. The error is, "External Control of System or Configuration Setting."
[Here is a link t

[2021-05-05 03:06] baffourt commented on #342
Thanks @ckadluba for taking the time to go through all of that. Will put together something based off the `samples\AppConfigDemo` and see if I can get the error to show.

[2021-05-06 12:23] blowdart commented on #345
The same reasoning applies here, as it does on your issue for [msbuild](https://github.com/dotnet/msbuild/issues/6396).

(for completeness, I'll put the same answer here in case others find the issue)

TLDR: You're safe, these aren't strictly false positives, but an artifact of how you're using the Veracode tool which needs adjusting.

When you upload an application for analysis to Veracode you ha

[2021-05-06 12:30] ckadluba commented on #345
@harexelizaga thank you for reporting this and @blowdart thank you for analyzing and the clarification.

@harexelizaga can you do a rescan of MSSqlServer sink with the suggested adjustments? I can leave this issue open until you have some new scan results.

[2021-05-10 14:34] hfirst opened #346 "Custom table: AuditTo works but WriteTo doesn't."
serilog.aspnetcore 4.1
Serilog.mssqlserver 5.6.0
.net core 5 on windows

Configuration code:

var columnOpts = new ColumnOptions();
columnOpts.Store.Remove(StandardColumn.Id);
columnOpts.Store.Remove(StandardColumn.LogEvent);
columnOpts.Level.ColumnName = "EventLevel";
columnOpts.Level.StoreAsEnum = true;

Log.Logger = new LoggerConfiguration()
.MinimumLevel.Information()
.MinimumLevel.Override("S

[2021-05-18 01:29] DaleyKD opened #347 "Memory Leak When Using new LoggerConfiguration"
## Please clearly describe what the SQL Sink is doing incorrectly
We have a multi-tenant situation, and need to dynamically (using factories) create a new `Serilog.ILogger` based upon the current tenant.  Each tenant has their own database.  When instantiating a `new LoggerConfiguration().CreateLogger()`, it's fine without any sinks.  But when we add the MSSqlServer sink, memory is just constantly

[2021-05-18 07:03] mmctest888 opened #348 "do not force to depend on Microsoft.Azure.Services.AppAuthentication"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2021-05-18 11:45] DaleyKD commented on #348
I see your point, but we DO use Managed Identity. How would he split out that dependency?

[2021-05-18 16:42] gkindov opened #349 "DataLength for (n)varchar columns not honored when logging to database"
Using the following code (for column options):
[code]
The DataLength property for the two default columns Message and Exception is honored on table creation, but after that seems to be ignored and writing to the log fails when message or exception is longer than the limit with the error:
_Unable to write 3 log events to the database due to following error: Cannot set column 'Exception'. The value

[2021-05-18 16:51] ckadluba commented on #349
DataLength is not used for truncating any contents of the log event. It is only used for table creation as documented.

Of course we are always open for a PR.

[2021-05-18 16:53] gkindov commented on #349
Ok, any way to truncate with code out of the box? I tried with Enricher but that does not seem possible with the Message, only Exception...

[2021-05-18 16:55] ckadluba commented on #346
How does your table definition look like?

[2021-05-18 16:58] ckadluba commented on #349
There is no truncation function in this sink.

In general I would recommend to plan the message column large enough as truncated logs might get you into troubles.

[2021-05-18 18:02] hfirst commented on #346
Since AuditTo is able to write to the db, why would the table definition matter with WriteTo?  What does WriteTo do differently?

CREATE TABLE [dbo].[EventLogs](
	[RowId] [UNIQUEIDENTIFIER] ROWGUIDCOL  NOT NULL,
	[Timestamp] [DATETIMEOFFSET](7) NOT NULL,
	[EventLevel] [TINYINT] NOT NULL,
	[Message] [NVARCHAR](MAX) NULL,
	[MessageTemplate] [NVARCHAR](MAX) NULL,
	[Exception] [NVARCHAR](MAX) NULL,
	[

[2021-05-22 22:24] ckadluba commented on #331
Did you experience the same problem with .NET 6 too? Since this will be the LTS version, I would be interested if the problem you have seen is still happening with 6.

[2021-05-22 22:27] ckadluba commented on #345
I will close this issue. If you get around to to a scan with correct settings and it yields any warnings for MSSQL sink, please open a new issue.

[2021-05-22 22:27] #345 closed

[2021-05-22 22:53] ckadluba commented on #348
What we could probably do, is to split all code that depends on azure libraries out into a separate library (like Serilog.Sinks.MSqlServer.Azure) which you can reference or not based on your needs. It would be some effort though, so please help me to fully unerstand why the dependency is a problem in your scenario.

Does the dependency generate a runtime error in your case or any other kind of blo

[2021-05-22 23:41] ckadluba commented on #346
You omit the size parameter in you NVARCHAR columns which on my tests resulted in a table with NVARCHAR columns with size 1. Which means that every log call creating an event with >1 character leads to an exception or error even with the audit sink.

![image](https://user-images.githubusercontent.com/10721825/119243438-054ead80-bb67-11eb-81d6-4763946e54ae.png)

After fixing this, I still got an ex

[2021-05-23 00:40] ckadluba commented on #347
Hi @DaleyKD! Thank you for your investigations and for reporting this. I took your sample and let it run. Indeed i could also see an increase of consumed memory during execution.

Then I tried to investigate which objects were accumulating the memory. I did not see any serilog sink related objects there, so I commented out the MSSQL sink initialization like this.

[code]

After that the memory inc

[2021-06-03 11:44] arnederuwe commented on #346
I'm having the same issue with the following table structure:
[code]

Using the following config:
[code]

Console logs fine, moving the SQl part to "AppendTo" works fine as well

[2021-06-04 23:26] ckadluba commented on #346
@arnederuwe in your case the problem is, that you defined the Id column as identity which means a value for it must not be supplied when inserting rows. But MSSQL sink by default does exactly that. It writes the id of the log event to the column named Id.

A similar case was reported recently by a user.

https://github.com/serilog/serilog-sinks-mssqlserver/issues/340#issuecomment-804256311

[2021-06-10 06:04] asiridissa opened #350 "Get inserted log entry Id as return in MSSqlServerSink"
Hi,

I have a requirement to store some other meta data related to the log in some other tables related with the original log entry and a correlated id which I generated.

ex: Action 'Event creation' will have log entry 1 and has a correlation Id 1.
Action 'Event participant add' will log entry 2 and fill some other tables with participant details using correlation Id 1 and log entry 2's Id.

I ha

[2021-06-11 09:10] asiridissa commented on #350
I used triggers for this.

[2021-06-11 09:10] #350 closed

[2021-06-19 09:11] civiladmin opened #351 "Project does not build"
Hello

I am developing a vscode web api project. I use Serilog.Sinks.MSSqlServer for logging. I made all the adjustments, then when I open the cli and say dotnet watch run, it says 'Building...' and the project does not open. When I do the same process on Visual Studio, it works, I couldn't understand why it was like that.

Net 5.0

     <PackageReference Include="Serilog.Sinks.MSSqlServer" Versio

[2021-07-06 12:39] bayramerenn commented on #351
You can close the topic

[2021-07-07 09:57] ckadluba commented on #351
I had no time yet to look into this. @civiladmin is this problem still happening? If not, can you please tell us what caused it. This might help others.

[2021-07-13 07:15] #351 closed

[2021-07-13 08:36] bayramerenn commented on #351
the solution is here [link](https://stackoverflow.com/questions/68122712/serilog-aspnetcore-library-not-working-in-terminal?noredirect=1#comment120402887_68122712)

[2021-07-21 21:29] ckadluba commented on #347
Any news on this?

[2021-07-21 21:30] ckadluba commented on #348
Any update on this?

[2021-07-21 21:31] #346 closed

[2021-07-21 21:32] ckadluba commented on #342
Hi @baffourt. Did you find some time to create a small sample?

[2021-07-21 21:34] ckadluba commented on #331
If anyone finds time to try and reproduce this with .NET 6, we would appreciate. Thanks everyone.

[2021-08-09 15:55] DaleyKD commented on #153
Almost 3 years later; any update?  I am NOT a SQL guy, but I can tell you that my LogEvents table is causing timeouts, probably because of 99.98% fragmentation on the indices.

[2021-08-11 12:35] arnederuwe commented on #346
Adding ```"removeStandardColumns": [ "Id" ]``` did the trick, thanks for pointing me in the right direction

[2021-08-12 10:52] aloksharma1 opened #353 "JSON Configuration for additional columns not working?"
Bug Report / Support Request Template
--------------------------------------
I m using latest serilog libraries with dotnet 5 project, and adding sinks configuration from json configuration provider. the connection strings and other stuff works fine, but anything related to adding custom column; deleting old columns etc is not taking effect. So even if i add a column manually in db, its not regist

[2021-08-12 21:22] ckadluba commented on #346
You're welcome! Good to hear that your problem could be fixed. And thanks for  confirming the solution. 👍

[2021-08-13 07:12] aloksharma1 commented on #353
getting it out of the sinkoptions worked

[2021-08-13 07:12] #353 closed

[2021-08-16 15:13] zachrybaker commented on #342
I'm also seeing this problem.
Sadly, when I use v1.1.13 of Serilog.Sinks.MSSqlServer I then have another problem:

Exception thrown: 'System.ArgumentException' in Microsoft.Data.SqlClient.dll
 and I see Unable to write 4 log events to the database due to following error: "Format of the initialization string does not conform to specification starting at index 0."

 This appears to be due to it not

[2021-08-16 15:56] zachrybaker commented on #342
An update, in case it helps others.

I added the MSSqlServerSettingsSection-based configuration.  I don't see where/how it determines which connection string to use.  So I removed it after trying it, reverted to app settings.  I added the schemaName option to explicitly be dbo.  Then I saw it working.  Go figure.

[2021-09-17 21:37] #349 closed

[2021-09-17 21:38] ckadluba commented on #347
Closing this after no update for a longer time.

[2021-09-17 21:38] #347 closed

[2021-09-17 21:39] ckadluba commented on #341
Any news on this? If not, i'm going to close this issue soon.

[2021-09-17 21:40] #348 closed

[2021-09-17 21:42] ckadluba commented on #342
@zachrybaker Can you provide a small sample that demonstrates the error?

[2021-10-11 08:46] doruu12 opened #359 "log table not created when using PrimaryKey property"
While building column options object, adding a "PrimaryKey" column type breaks the creation of the log table.

Log table should be created in the database with the specified primary key

In https://github.com/serilog/serilog-sinks-mssqlserver/blob/dev/sample/NetStandardDemo/NetStandardDemoLib/Initializer.cs file, I replaced BuildColumnOptions method with this implementation:

private static Column

[2021-10-16 16:33] UrielMhezzek opened #360 "Create Database and Loggertable in same Step"
The creation of the database and the log table does not happen at the same time. Otherwise i can log, but the table will created on second start of server and after creating database.

The log table should be created with the database when it is started for the first time and log data.

    <PackageReference Include="Serilog.AspNetCore" Version="4.1.0" />
    <PackageReference Include="Serilog.Sin

[2021-10-16 23:23] ckadluba commented on #359
The table is not created with the provided code because `TestPKColumn` is not part of the `AdditionalColumns` collection and therefore not correctly specified.

If you change your init code like this, the log table will be created.

[code]

Please be aware that the NetStandardDemo still will not log anything because the log calls also have to provide a value for the non-nullable column `TestPKClum

[2021-10-16 23:23] #359 closed

[2021-10-16 23:25] #342 closed

[2021-10-16 23:27] ckadluba commented on #331
Since there seems to be a workaround now and there is no further work going on with this issue, I will close it. If this appears again with .NET 6 please feel free to open a new issue.

[2021-10-16 23:27] #331 closed

[2021-10-16 23:32] ckadluba commented on #360
Hi @UrielMhezzek thank you for the report. Could you provide a simple sample that I could use to reproduce the problem?

[2021-10-17 11:23] UrielMhezzek commented on #360
Here it is. I made it so simple i can.

https://github.com/UrielMhezzek/BlazorAppExampleSink

[2021-10-18 16:21] FletcherJohnsonZ opened #362 "Exception when installed as .msi, works fine otherwise"
Bug Report / Support Request Template
--------------------------------------
This is detailed in https://stackoverflow.com/questions/69591896/serilog-wpf-based-app-works-but-not-when-installed-as-an-exe - "Serilog WPF based app works but not when installed as an EXE"

It runs perfectly when running after doing a build.  If I generate a .MSI file and install from that, it does not log to the SQL se

[2021-10-19 17:15] xjpmauricio opened #363 "Exception column is always null"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2021-10-25 09:15] NickAusloos opened #364 "Duplicate SQL records within the same second"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2021-11-24 17:16] chunty opened #365 ".WriteTo.MSSqlServer breaks migrations in .net 6 using WebApplication with minimal start"
I'm using .net6.0 with the following program.cs with minimal start:

`using Microsoft.EntityFrameworkCore;
using Serilog;
using Serilog.Sinks.MSSqlServer;
using WebApi.Data;

Log.Logger = new LoggerConfiguration()
    .WriteTo.Console()
    .CreateBootstrapLogger();

var builder = WebApplication.CreateBuilder(args);

builder.Services.AddDbContext<ApiDbContext>(opts =>
{
    var connString = builde

[2021-11-24 17:53] chunty commented on #365
I've discovered this seems to only happen if you've not yet run a migration and the database doesn't exist... the irony of this is the error gets in the way of me creating an initial migration

[2021-11-24 18:00] ckadluba commented on #365
Hi @chunty! Thank you for reporting your problem. Which target framework did your app use before? Can you confirm that the builder works without existing db with the same code sample targeting a framework < .NET 6?

[2021-11-24 19:06] chunty commented on #365
@ckadluba. This is a brand new app so didn't use another target framework, this is using the new .net6 'WebApplication' so I can't test the same code on a lower framework.

I've since discovered that although I seem to be able to create migration (assuming I only enable this after the first migration) I do get the following error:

if this line exists:

`builder.Host.UseSerilog((ctx, lc) => lc.Rea

[2021-11-30 17:14] murphpc1139 opened #366 "Overriding Id Column"
I'm trying to write my log to an existing SQL Server table where the primary key/identity column is named "ID".  I am removing all the existing Standard Columns and creating all the AdditionalColumns from the existing table.  If I include the "ID" column in the AdditionalColumns, I get an error "Unable to write 1 log events to the database due to following error: Column 'ID' does not allow nulls."

[2021-12-05 13:38] tfierens opened #367 "Dependency issue with Microsoft.Data.SqlClient"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2021-12-05 14:21] tfierens commented on #367
Hi,

My bad!! I spent a ridiculous amount of time on this only to find out what I was not upgrading my web.config as part of my deployment and that my local web.config had the following assembly redirection in it:

`			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" ne

[2021-12-05 14:21] #367 closed

[2021-12-07 11:47] Nisaba opened #368 "SQL Connexion Error : The certificate chain was provided by an authority that is not trusted"
Hello,

When I try to use SQL Sink, I get this error :

Unable to write 4 log events to the database due to following error: A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Provider, error: 0 - The certificate chain was provided by an authority that is not trusted)

Strange, because I use a very simple connection string

[2021-12-07 14:51] ckadluba commented on #368
Hi @Nisaba!

The SQL server sink has no requirements considering connection encryption. You probably ran into this problem.

https://stackoverflow.com/questions/17615260/the-certificate-chain-was-issued-by-an-authority-that-is-not-trusted-when-conn

[2021-12-07 15:03] ckadluba commented on #366
Hi @murphpc1139!

Instead of removing it, you should be able to set the ColumnName property for the StandardColumn Id to the desired column name.

[2021-12-07 15:08] Nisaba commented on #368
Hello,
Thanks ! It works now

[2021-12-07 15:10] ckadluba commented on #368
Perfect! :)

[2021-12-07 15:10] #368 closed

[2021-12-23 13:28] advapiIT opened #369 "Mapping Standard Properties to Custom Columns doesn't work"
Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is deprecated, plea

[2021-12-29 04:39] RobbieSurePrep commented on #369
Should you be using "additionalColumns" rather than "customColumns"?  Just a guess...

[2021-12-29 22:52] FletcherJohnsonZ commented on #362
Just an update.
I have posted an update on this to the Microsoft.Data.SqlClient - testing the released version of 4.0.0 of their library.

The Sink library seems to work fine when using the System.Data.SqlClient.  I downloaded the source and when I changed the usings to use System.Data.SqlClient, the code worked.

I would be happy to work with someone on this, but I don't have time to learn the li

[2021-12-31 13:01] advapiIT commented on #369
Hello,
No it doesn't work... I tried it before switching to customColumns..

[2021-12-31 14:45] advapiIT commented on #369
Hello,
I've downloaded the source code and think I've found what happens... It's not possible to map a standard property to a custom column. The code is executed here

[code]
and this method ```GetStandardColumnNameAndValue``` switches on a StandardColumn enum.

Now I think as a workaround I can create the properties I need with an enricher, but I think I'll try do do a PR to enable such a thing.

[2022-01-01 22:56] ckadluba commented on #369
If I understand your case right, you just want to write the standard properties of the log event (e.g. Timestamp) into a column of a different name (e.g. Data). This very simple to do by setting the ColumName of the respective StandardColumn element in the configuration (as described in my answer here https://github.com/serilog/serilog-sinks-mssqlserver/issues/340#issuecomment-792384192). No Addit

[2022-01-01 23:34] #366 closed

[2022-01-02 15:20] ckadluba commented on #363
Hi @xjpmauricio! The sink contains a CustomLogWventFormatterDemo sample app. It uses the following code to log an exception.

[code]

Your code uses a method named LogError with a different signature. To rule out a problem there, please try to use Log​.​Error​(...) instead.

[2022-01-02 15:29] ckadluba commented on #365
Does the problem disappear if your remove the SQL sink init code?

[2022-01-03 01:38] ckadluba commented on #364
Hi @NickAusloos!

Can you provide a full sample project (including db create table statements and connection string) that demonstrates the error?

[2022-01-03 11:38] xjpmauricio commented on #363
Hi, I think Log​.​Error​ belongs to the Serilog library, I want to use the method from Microsoft.Extensions.Logging. Is it possible? The log is being added but the only thing that's missing is the exception column not being filled.

[2022-01-04 13:45] Daniel-Svensson opened #374 "Nothing logged if SqlAuthenticationProviders is configured for system.data.sqlclient"
Nothing is logged.
Selflog report a type initialization exception for Microsoft.data settings provider or similar and a message that a system.data type cannot be cast to the corresponding Microsoft.data type.

**solution** manually referring to Microsoft.data.sqlclient version 4 (or any release >= 2.1) solves the issue.

2.1 release notes: https://github.com/dotnet/SqlClient/blob/main/release-note

[2022-01-04 13:48] Daniel-Svensson commented on #374
Workaround: manually reference a later version of Microsoft.data.sqlclient such as 4.0 in the application solves the problem

[2022-01-04 14:55] Daniel-Svensson commented on #302
If you update the Microsoft.data.sqlclient nuget to at least 3.0 you can use the drivers built in support for  MSI including user managed identities.

https://github.com/dotnet/SqlClient/blob/main/release-notes/3.0/3.0.0.md#active-directory-default-authentication-support

[2022-01-05 13:11] sommmen opened #375 "Q: Does this sink offer a size limit?"
Hiya,

I'm currently using the file sink from serilog, but in production the log files are not accesible.
I thought of pushing logs to an MSSQL database since we've already got that up an running.

The problem is that there is only limited space on the server.
I've set my file sink to log till 1gb.

Does this MSSQL sink have this kind of feature, where i can limit the rows or the overal table size

[2022-01-05 20:09] ckadluba commented on #375
Hi @sommmen!

Thank you for your question. The answer is no. The SQL sink does not have any function to limit the size of log data written to the db. It does not even keep track of the ammount of data written to the db.

For file logging it makes sense to limit the size and number of the files to keep them in workable size which can be handles by tools like editors and also it prevents the logger

[2022-01-06 08:28] sommmen commented on #375
Hello - thanks for answering my question.

I think i understand and agree with what you're saying here after reading it twice :).

It does still feel a bit weird - i'd love to log to MSSQL, but i don't want to write logic in another concern to keep the database from becoming to large - the same way it'd be weird if i had to clean up older log files in the file sink.

Just some points/braindump:

A

[2022-01-06 08:28] #375 closed

[2022-01-07 18:16] Daniel-Svensson commented on #24
@nblumhardt, would you consider a PR that sets "Enlist=false" in the connectionstring unless the enlist option is already specified? It should be a simple  change so that logging cannot be accidentally disabled by transactionscope (and with an easy opt in by setting enlist to true).

Currently the sinks can enlist in transactions in some specific cases such as when flushin or if creating sink with

[2022-01-07 18:52] ckadluba commented on #24
@Daniel-Svensson If that would solve the problem at hand, i'd be happy to accept a PR. Could you create a small sample app (or even better an integration test) that proves the fix?

[2022-01-10 13:20] advapiIT commented on #369
Hello @ckadluba , thanks for your reply... I was on vacation... but this can't be done via appsettings.json, I had to set it in C# am I right?

Thanks

[2022-01-10 13:23] ckadluba commented on #369
I think it should be possible in config files as well.

[2022-01-12 08:26] advapiIT commented on #369
Hello @ckadluba ,
Do you have a snippet? I'm not able to find how to config columns via appsettings
Thanks

[2022-01-12 10:12] advapiIT commented on #369
@ckadluba  I've done it...

[code]
Thanks for the support

[2022-01-17 17:48] duncancoppedge commented on #208
I'm not expecting anything out of this, just throwing it out there for other users to google and hopefully save a few hours.
Issue we had Serilog fails "silently" and nothing is logged in our db.
Workaround is roll back to v5.4 before Microsoft.Data.SqlClient was implemented or fix our server certificates.

**details:**
We've integrated serilog with our .net framework 4.72 application.
Issue is wh

[2022-01-18 05:26] weiyan2012 opened #377 "How can I use it to support the split table ? eg:Logs20220118 ,Logs20220119"

[2022-01-23 15:05] Daniel-Svensson commented on #24
I will probably look into it some time, but it is currently not at the top of my priority list.

When I get to it I would really like to also update the Microsoft.Data dependency to a more modern version  which coexists better with System.Data.
Would the latest version be fine or do you for some reason prefer an older version like 3.0 ?
If upgrading to 3 or 4  I would suggest to depreciate the bui

[2022-01-25 09:18] ckadluba commented on #208
Thank you for the research and documentation of this.

[2022-01-25 09:32] ckadluba commented on #24
Anything that would improve compatibility between frameworks would be much appreciated. One thing we have to keep in mind though is to maximize compatibility with existing applications depending on the sink. This sometimes stops us from updating target framework, language and sometimes also our own dependencies to the latest and greatest. For instance the sink still uses C# language version 7.3 (l

[2022-01-25 10:32] ellorenz2 commented on #96
Sorry but i have the same problem with dotnet 6 i have non standard serilog table on database and i cannot insert values in it, same error

[2022-01-27 07:49] sommmen commented on #377
You can't - that is not (yet) supported.

There's a backlog item open though:  #190

[2022-01-27 08:20] sommmen opened #380 "Q: Async serilog sink and performance"
Hiya,

Quick question - i'm seeing some locking happen in my app and it _seems_ to be doing with logging.
I use the following sinks:
- File
- Console
- MSSQL

I want to move the sinks into Serilog.Async and to keep it consistent i'm considering moving _all_ sinks into the async package.
I ofcourse could also only move File and Console to the async serilog sink and leave the MSSQL sink alone

Just

[2022-01-27 11:53] jonorossi commented on #190
Any reason no one has suggested using table partitioning? Dropping a partition becomes a metadata only operation.

Table partitioning became a base feature in all editions from SQL Server 2016 SP1:
https://docs.microsoft.com/en-au/archive/blogs/sqlreleaseservices/sql-server-2016-service-pack-1-sp1-released

[2022-02-02 13:53] ckadluba commented on #24
Thank you for reviewing your change. Not breaking dependent code is always an important goal when developing the library (except we make a new major version which is not planned at the moment).

Regarding the C# version I think it is not only dependent on the studio/compiler version that is used. Some language features (async/await, nullable ref types, etc.) rely on APIs which are not present in o

[2022-02-10 12:30] mrkrk commented on #331
Facing this issue in .NET 6 with Self Contained, Single file.

[2022-02-14 11:03] sommmen opened #381 "BUG: exception in SqlTableCreator.CreateTable causes format exception"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2022-02-14 11:08] sommmen commented on #381
Just confirmed that this will fault (naturally):

[code]

And these won't:

[code]

[2022-02-14 12:46] ckadluba commented on #381
Thank you for the contribution. It is highly appreciated. 👍

[2022-02-14 12:55] sommmen commented on #381
Glad to be able to help.

Could you push a release for me? that way i can debug the actual exception ^^.

[2022-02-14 14:29] ckadluba commented on #381
Here you go! Just released Serilog.Sinks.MSSSqlServer 5.7.0 https://github.com/serilog/serilog-sinks-mssqlserver/releases/tag/v439. The new version is available on nuget.org now.

[2022-02-21 13:12] ckadluba commented on #380
Hi  @sommmen!

Sorry for the delay in response. Like the documentation states, if you use the MSSQL sink in normal mode (`WriteTo()`) then the log operation just writes into a buffer which is asynchronously written to the DB in batches in the background. I guess there would be no performance or resposibility gain in your app if you call that asynchronously. On the other hand doing so would not be

[2022-02-21 13:14] #190 closed

[2022-02-21 13:25] ckadluba commented on #363
Can you provide a complete sample program for us to reproduce this?

[2022-02-21 13:26] sommmen commented on #380
Hello @ckadluba,

Thanks for your answer - i'll be able to make an informed decision now.

[2022-02-21 13:26] #380 closed

[2022-02-21 13:32] ckadluba commented on #364
Probably the problem lies within the initialization of the loggers. Could you please send us a complete sample app to reproduce this error? Additionally, please try to remove all `.WriteTo` calls from your init code so that only the MSSQL sink is used and check if the problem persists?

[2022-02-21 13:37] ckadluba commented on #299
With version 5.7.0 of the sink we now target .NET Core 3.1. Hopefully the problem is gone with that change. I will close this old issue. If the problem occurs again please open a new issue.

[2022-02-21 13:37] #299 closed

[2022-02-21 14:03] jonorossi commented on #190
If you follow the principle of least privilege, your application also wouldn't have `CREATE TABLE` and `ALTER` permissions.

[2022-02-26 14:12] codehunter13 commented on #360
i got the same request...

[2022-03-03 20:08] ScottyMac52 opened #393 "Why no stored procedure support for adding logs to SQL Server?"
We have a current implementation in older .NET Framework applications that use the NLogger approach to executing a stored procedure to add log entries.

REF: [NLog Schema](http://www.nlog-project.org/schemas/NLog.xsd)

Without this ability in serilog-mssql I will be unable to use this and will instead have to inject a custom implementation.

[2022-03-04 15:14] ckadluba commented on #393
Hi @ScottyMac52!

Thank you for getting in touch. Why do you need to call a stored procedure for logging? Can you tell us a little bit about your use case that requires this?

[2022-03-12 18:25] #364 closed

[2022-03-16 12:39] Diponchik opened #395 "Read part of configuration from appConfiguration."
Sorry If I misunderstand documentation, but in my humble opinion [It](https://github.com/serilog-mssql/serilog-sinks-mssqlserver#code--microsoftextensionsconfiguration) says that we can through appConfiguration overwrite some sink or column configuration, but in [LoggerConfigurationMSSqlServerExtensions.cs](https://github.com/serilog-mssql/serilog-sinks-mssqlserver/blob/dev/src/Serilog.Sinks.MSSql

[2022-05-03 20:12] TaylorWatson commented on #318
anyone find a way to do this? We want a centralized pool of logs for a few internal apps and want a custom column to default to the site name.

[2022-05-03 22:23] ckadluba commented on #318
Please take a look at Serilog Enrichers. This way you can set log properties to default values, or to values based on context (e.g. site name).

[2022-05-05 14:07] novelhawk opened #397 "[Question] ConnectionString in .NET Framework"
Bug Report / Support Request Template
--------------------------------------

Hello, I'm trying to port my .NET Core project's Serilog configuration to another project that targets .NET Framework. I was wondering if it was possible to load the connection strings from the project's XML configuration (from MSSql's XML or JSON configuration).

Ideally I would like to have the connection strings where

[2022-05-18 15:03] eSamchuk opened #398 "Unable to log to separate tables within one database"
My goal is to split logs into different tables depending on log entry level, so that Information and Warning records are separated from Error and Fatal. There are some guides on this topic, I used several of them, but without any success.

- Serilog.AspNetCore 4.1.0
- Serilog.Sinks.MSSqlServer 5.6.1
- Serilog.Expressions 3.2.1
- Serilog.Formatting.Compact 1.1.0
- Serilog.Settings.Configuration 3.3

[2022-06-09 06:05] ckadluba commented on #398
Hi @eSamchuk!

Sorry for the delay. Can you provide us a full sample program to reproduce your issue?

Thanks,
Christian

[2022-06-10 16:57] eSamchuk commented on #398
Hi @ckadluba!

Full solution is [here](https://github.com/eSamchuk/WebApiPractice).
It's a bit of mish-mash of everything that could be in WebAPI project, so don't freak out.
Main project is [this](https://github.com/eSamchuk/WebApiPractice/tree/master/NoMansSkyRecipies).

[2022-06-14 13:21] dandros opened #400 "Microsoft.Azure.Services.AppAuthentication is deprecated"
Serilog.Sinks.MSSqlServer is using Microsoft.Azure.Services.AppAuthentication which is deprecated by now.

MS suggests to switch to Azure.Identity library.

Is it possible for you to migrate this dependency ?

[2022-06-17 22:11] ckadluba commented on #400
Hi @dandros!

Thanks for the input. I will take a look at migrating this. Although cannot promise when I will have time to do it. In the meantime a PR to help us with migration to Azure.Identity is always welcome. :)

[2022-06-21 19:35] ScottyMac52 commented on #393
You are kidding right? It's far more efficient to use a stored procedure instead of table based inserts, especially for an on-premise database. My use case is that what I REALLY need is a way to plug an I LoggerProvider interface into SeriLog's I LoggerFactory implementation. This way I can inject whatever service implementation that talks to my database that I want. Anyways, it's clear I cannot u

[2022-06-21 20:11] ckadluba commented on #393
We had a similar discussion in the past where the outcome was that the BulkInsert of MSSQL sink is sufficiently performant and also the best suited implementation (https://github.com/serilog-mssql/serilog-sinks-mssqlserver/issues/132). I think in terms of efficiency BulkInsert is a solution that suits a broad spectrum of applications.

If you have a question regarding Serilog core (e.g. LoggerFact

[2022-06-21 20:11] #393 closed

[2022-06-23 12:27] #153 closed

[2022-07-05 04:22] baffourt commented on #367
I do still receive this error even though assembly redirection is done for me.

`2022-07-05T04:10:34.5689340Z Exception creating table LogEvents:
System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Data.SqlClient, Version=1.13.20136.2, Culture=neutral, PublicKeyToken=23ec7fc2d6eaa4a5' or one of its dependencies. The located assembly's manifest definition does not match the asse

[2022-07-15 12:55] anandthirumala commented on #393
I am having a similar issue, I need to invoke a Stored Procedure, we were using NLog and it's possible there. We are looking to use  Serilog for application. We can't change the DB, the permission is only granted for the Stored Procedure so the direct insert will fail.

But I am curious to know how BulkInsert works? Is there any sample or documentation you could point me to please?

Thanks

[2022-07-19 22:20] ckadluba commented on #393
Hi @anandthirumala!

You can find the code of the sink where the bulk insert is done here: https://github.com/serilog-mssql/serilog-sinks-mssqlserver/blob/07a514b5ef1667cdc2385c14a3eb46eaf91242b7/src/Serilog.Sinks.MSSqlServer/Sinks/MSSqlServer/Platform/SqlBulkBatchWriter.cs#L35

But in the sink all of the Microsoft SqlClient calls are encapsulated in wrapper classes so you better look for samples

[2022-07-22 06:27] mperudirectio opened #408 "Code snippet contains ghost variable in readme.md"
In this code snippet provided into the principal readme.md:

[code]
the object `options`, from which `options.TimeStamp` is derived, it's of unknown type and there is no instance of it in the code snippet.

Can I just know what it's related to?
Thank you

**UPDATE**
Calling the variable `columnOpts` instead of `options` solved the problem.
It is probably just an error due to the wrong name of the

[2022-07-24 19:27] ckadluba commented on #408
Hi @mperudirectio!

Thank you for pointing this out. I fixed it in PR #409.

Cheers,
Christian!

[2022-07-24 19:27] #408 closed

[2022-08-05 11:59] ghost opened #412 "A network-related or instance-specific error occurred while establishing a connection to SQL Server with versions > 4.2.0"
Bug Report / Support Request Template
--------------------------------------
I am running into the error in the title when upgrading the sink to versions above 4.2.0

Code generating the error:

[code]

The sink does not connect to the DB server when using any version higher than 4.2.0.
It connects fine when  using version 4.2.0.

- Serilog: 2.11
- Serilog.AspNetCore: 6.0.1
- Serilog.Extensions.Ho

[2022-08-08 07:47] rusanov-vladimir commented on #290
@ckadluba Hello, to me this looks broken again in 5.7.1 using MSSqlServerSinkOptions. Originally had the commented out version with `SinkOptions` that were passed to `MSSqlServer`. It was throwing `Method not found: 'Serilog.LoggerConfiguration Serilog.LoggerConfigurationMSSqlServerExtensions.MSSqlServer`

[code]

Reverted to 5.3 and unlined the call and everything works.

[2022-09-04 20:54] ckadluba commented on #412
Hi @campanellaf!

Do you see any errors in SelfLog (https://github.com/serilog-mssql/serilog-sinks-mssqlserver#always-check-selflog-first)?

[2022-09-04 21:12] ckadluba commented on #398
Sorry for the late response.

Have you tried to create and register two different loggers (logging pipelines) in the ASP.NET Core dependency container and inject them as separate ILogger instances as needed.

Possibly you could also have only one logging pipeline but use sub-loggers as shown here: https://github.com/serilog/serilog/wiki/Configuration-Basics#sub-loggers

[2022-09-04 21:12] #398 closed

[2022-09-04 21:19] ckadluba commented on #397
Hi @novelhawk!

Sorry for the late reply. Loading SQL sink's connection strings and other settings from config sources is also possible for .NET Framwork. Please check out the documentation (https://github.com/serilog-mssql/serilog-sinks-mssqlserver#external-configuration-syntax) and the included samples for getting an idea how to do this.

[2022-09-04 21:19] #397 closed

[2022-09-04 21:22] #377 closed

[2022-09-04 21:23] ckadluba commented on #395
Hi @Diponchik!

Can you provide us a full sample program demonstrating the error, so we could investigate it?

Best regrards,
Christian

[2022-09-04 21:26] #363 closed

[2022-09-06 14:43] ckadluba commented on #290
@rusanov-vladimir Can you please provide a sample program to reproduce the problem?

[2022-09-12 08:10] patopat opened #416 "Is Datetime2(n) supported ?"
Hi,

I removed the default Timestamp column, and I added a new one with a Datetime2(3) format.
Does the Datetime2(n) format is support ?

Best regards,
Pat

[2022-09-12 09:30] ckadluba commented on #416
Hi @patopat!

As documented [here](https://github.com/serilog-mssql/serilog-sinks-mssqlserver#timestamp), the TimeStamp column supports datetime, datetime2 and datetimeoffset.

Best regards,
Christian

[2022-09-12 09:30] #416 closed

[2022-09-12 09:33] patopat commented on #416
Hi @ckadluba,

Ok, so only datetime2(7) is supported.

Best regards,
Pat

[2022-09-12 10:55] patopat commented on #416
@ckadluba,

Do you plan to support Datetime2(0..7) options ?

Best regards,
Pat

[2022-09-12 10:56] ckadluba commented on #416
Not at the moment but we are always happy to have a PR. :)

[2022-09-21 13:07] LeonFreriks-calvi opened #417 "Security vulnerabilities in serilog-sinks-mssql"
Bug Report / Support Request Template
--------------------------------------
If you are opening a feature request, you can ignore this template. Bug reports and requests for assistance usually require the same basic information described below. This will help us more quickly reproduce and investigate the problem you're reporting. (If you are using Serilog.Sinks.MSSqlServerCore, that package is dep

[2022-09-22 11:39] ckadluba commented on #417
Hi @LeonFreriks-calvi!

Thank you for reporting this. Unfortunately this error appears not as a dependabot alert nor during normal build using our GitHub actions.

But when I ran `dotnet list package --vulnerable --include-transitive`, I found even a more critical issue.

![image](https://user-images.githubusercontent.com/10721825/191735277-5970e7bd-c1c2-42db-b5eb-afee98cbc14e.png)

I found out th

[2022-09-25 20:13] ckadluba commented on #417
I created the linked PR which fixes the critical issue in the MSSQL sink library. I just wait for a brief review from a co maintainer before we create a release.

As mentioned, this PR only fixed the critical issue https://github.com/advisories/GHSA-5crp-9r3c-p9vr. The moderate issue https://github.com/advisories/GHSA-cmhx-cq75-c4mj is in the dependency Microsoft.Azure.Services.AppAuthentication w

[2022-09-26 19:57] brianbarnett316 opened #419 "Can a ColumnOptions.AdditionalColumn PropertyName reference a structured object's property instead of just a scalar property?"
Bug Report / Support Request Template
--------------------------------------

I'm logging a structured object as a property of the log message.  I created
            var logger = Serilog.Log.Logger
                .ForContext("User", user, **true**)
                ;

Creating the additional column like this.  I'm trying to reference the object's Name property:
                new SqlColumn { Col

[2022-09-26 20:24] ckadluba commented on #419
Hi @brianbarnett316!

Unfortunately it does not work that way with the current implementation. Only the name of the property is compared to read the value of the additional column (https://github.com/serilog-mssql/serilog-sinks-mssqlserver/blob/d5ddcd6b1a6cb7a79a5280ca8ee6b3ac6c8e0ea2/src/Serilog.Sinks.MSSqlServer/Sinks/MSSqlServer/Output/PropertiesColumnDataGenerator.cs#L29).

Probably you could

[2022-09-26 21:26] brianbarnett316 commented on #419
Ok, thanks.  It might be worth noting this behavior in the online doc.  Thanks.

[2022-09-27 05:13] ckadluba commented on #419
Would you give it a try and describe it as you would like to see it in the doc. I'll be happy to see your PR.

[2022-09-28 09:51] ckadluba commented on #417
Hi everyone!

I just created release 5.8.0 where the high severity issue https://github.com/advisories/GHSA-5crp-9r3c-p9vr is fixed. Please help us by testing it, if you can.

This report will remain open until we remove the initally repoted moderate issue https://github.com/advisories/GHSA-cmhx-cq75-c4mj.

[2022-09-28 12:53] LeonFreriks-calvi commented on #417
Awesome, thank you very much for your status update and reports.
Really appreciate you and the team taking this serious and the speed in which it's getting resolved!

[2022-10-02 19:20] #417 closed

[2022-10-02 19:21] ckadluba commented on #400
Fixed with PR #424.

[2022-10-02 19:22] ckadluba commented on #302
Fixed in PR #418 / release 5.8.0.

[2022-10-02 19:22] #302 closed

[2022-10-02 19:23] #400 closed

[2022-10-03 08:16] ckadluba commented on #209
Message trimming can be used to avoid this case. Closing this issue.

[2022-10-03 08:16] #209 closed

[2022-10-03 08:28] #202 closed

[2022-10-03 18:23] rogerfar opened #425 "5.8.0 breaks IIS hosted"
I upgraded to 5.8.0 and our .NET 6.0.9 deployment crashes. It crashes hard enough that I can't even find any error messages.

`InvalidOperationException 'CLR worker thread exited prematurely' caught at D:\a\_work\1\s\src\Servers\IIS\AspNetCoreModuleV2\InProcessRequestHandler\inprocessapplication.cpp:489 `

This is the best I can find. I call Serilog like this:

[code]

I downgraded to 5.7.1 and it

[2022-10-03 19:37] ckadluba commented on #425
Hi @rogerfar!

Thank you for reporting this. We upgraded Microsoft.Data.SqlClient and the configuration nugets in 5.8.0.

Can you provide us a small sample project to reproduce the error. Does it only occurr when you deploy it to IIS or can you notice any problems when running it in the debugger too?

How does your deployment pipeline look like?

[2022-10-04 13:51] rogerfar commented on #425
I'm looking a bit more into it now, I wrapped the whole startup class in a try catch and wrote the exception to a file, I'm getting this error now:

[code]

[2022-10-04 14:28] rogerfar commented on #425
Looks like this is an ongoing issue with the build tools: https://github.com/dotnet/sdk/issues/3886
Guess I got lucky I never an into this before :)

[2022-10-04 14:28] #425 closed

[2022-10-04 15:50] ckadluba commented on #425
Thank you for the research.

Since youn mentioned, your project uses .NET 6 already I wonder if this could have happened because the sink library was stil built on .NET Core 3.1 (and therefore the tooling bug you linked might affect version 5.8.0).

Anyway, I plan to upgrade everything to .NET 6 soon, so this might hopefully not occur anymore then.

[2022-10-12 16:22] azerios opened #427 "Microsoft.Azure.Services.AppAuthentication still in use"
Dear,

A reference to Microsoft.Azure.Services.AppAuthentication is present here / https://github.com/serilog-mssql/serilog-sinks-mssqlserver/blob/main/src/Serilog.Sinks.MSSqlServer/Serilog.Sinks.MSSqlServer.csproj

Is it possible to find a way to remove it as my pull request wasn't merge ?

Regards

[2022-10-12 18:53] ckadluba commented on #427
This is because we have fixed the issue in the dev branch and not updated main branch yet. We will update main when we make the next regular release (which is planned as soon as we are finished with the .NET 6 upgrade).

As we removed the AppAuthentication dependency on the dev branch, a preview/dev release was built and pushed to nuget.org.

[2022-10-17 06:49] #427 closed

[2022-10-19 14:28] ckadluba opened #432 "Adding inner exception message to SelfLog"
### Discussed in https://github.com/serilog-mssql/serilog-sinks-mssqlserver/discussions/415

It can be very helpful to in troubleshooting to see inner the exception message if there is one in the SelfLog of the MSSQL sink.

Implementation could look something like this:

[code]

And then use it like this:

[code]

Above copied from this thread: https://stackoverflow.com/questions/18489387/what-is-

[2022-10-20 13:10] sandersonsuprtek commented on #350
How would one use triggers? I can find zero documentation on how to do this. The bottom line is if I can't get back the id, then I will probably not be able to use this sink. So it is a big deal to me.  Should not be closed without something more than the above to go on.

[2022-10-20 13:23] ckadluba commented on #350
A Serilog sink has no interface where it could return when it writes log to the target because (except for the audit mode) Serilog operates like this.

1. Collect log events created with single Log() calls in an internal buffer
2. In the background: write a batch of logs to the target in a batch (SQL table in this case)

The sink does not have a way of returning any IDs to your program because you

[2022-10-20 13:41] jonorossi commented on #350
You could do it the other way. Log to Serilog with GUID request/correlation ID as a property (could be injected via an enricher), then configure the MSSQL sink to store that ID property in a custom table column (via `AdditionalColumns`) which can easily be joined to other table.

[2022-10-20 16:49] sandersonsuprtek commented on #350
Sorry but I do not see how to actually do either. The Correlation ID is not meant to change as I understand it. Normally, it's a static request header value. And it must be added to header.  But I am in a server side business method. As for the database trigger, EF does not support database triggers. So how would I get the EF code to receive the trigger's return value? Again, the point is to get t

[2022-10-20 16:55] ckadluba commented on #350
Help us understand your requirement in detail. What do you need to do with those IDs in your code?

[2022-10-20 17:07] sandersonsuprtek commented on #350
An example. An exception occurs and is handled and the code will call the Serilog logger via the static class.
`catch (Exception ex)
        {
            var logId = Log.Error(ex, "An error occurred.");
            response.LogId = id;
        }`
Then the UI can receive the response object and give the user a message telling them the id of the Log database record.

However, I realize the above is

[2022-10-20 18:51] asiridissa commented on #350
My requirement was just to store some additional information with the log entry. I managed to fulfil that by using triggers. That's why I closed this thread.
Expecting a return will cause to loose the advantage of asynchronous batch sinks as @ckadluba says.
If you want to shaw an ID to the user in real time, then using your own generated ID is a possible solution as @jonorossi says.

[2022-10-21 12:58] sandersonsuprtek commented on #350
Ok, regarding the generated value. I use an enricher to add additional info. So I added this to it:
`logEvent.AddPropertyIfAbsent(new LogEventProperty("LogEventGuid", new ScalarValue(Guid.NewGuid())));`
and I created a sql column for it in the log table and that worked in terms of saving the guid.

However, I do not see how to get the generated guid value out of the enricher context to my business

[2022-10-21 13:07] jonorossi commented on #350
You'll want to do it the other way around. Log the correlation ID fetched from somewhere else just like you'd add the current thread, process or host name.

See https://github.com/ekmsystems/serilog-enrichers-correlation-id for inspiration on how it can be done with ASP.NET Core.

[2022-10-21 13:13] sandersonsuprtek commented on #350
But that uses http headers and all this is occurring server side. I want to invoke logging and get some id and then return it. So it cant be header related as the code is not web layer. And in fact my business layer code is used by a windows service too. It is shared and must work there too. So web and service use same business layer code that logs.

[2022-10-21 13:44] jonorossi commented on #350
As I said, inspiration. Serilog has various way to log additional properties from various places. Serilog's `ForContext` is probably the easiest but least transparent.

None of this is unique to the SQL Server sink or this GitHub issue. I recommend you do some reading of the Serilog docs and check out some similar questions on StackOverflow.

[2022-10-25 11:49] ckadluba commented on #350
@sandersonsuprtek It the approach outlined by @jonorossi an option for you?

Also I'd like to add one remark according to your comment about lack of samples and documentation in Serilog. There is a samples directory in the source of this sink and also in a lot of other sinks. The documentation of this sink, other sinks and on the serilog website has code snippets and samples about various topics.

[2022-10-25 12:48] sandersonsuprtek commented on #350
As for documentation. I am been developing for 30 years and have used dozens of tools. Been using .NET since 2003. If I am honest, then I have to tell you the Serilog and it Sinks are poorly documented and sampled compared to most tools. I feel that way based upon experience. I know you disagree. But, I would hope you would want to know what real developers truly think.

As for my approach, I thou

[2022-10-25 13:07] jonorossi commented on #350
See the [Troubleshooting](https://github.com/serilog-mssql/serilog-sinks-mssqlserver#troubleshooting) section of the readme.

You are missing `Log.CloseAndFlush` before shutting down our program. When running with the debugger I assume you are stepping through so you are allowing the async background logging to occur.

[2022-10-25 13:28] sandersonsuprtek commented on #350
I thoguht that was to be used as follows. That's how I have used it for over year.

 Log.Logger = new LoggerConfiguration()
            .ReadFrom.Configuration(configuration)
            .Enrich.FromLogContext()
            //.Enrich.WithCaller()
            .CreateLogger();

        try
        {
            Log.Information("Starting web host");
            CreateHostBuilder(args, configuration).

[2022-10-25 17:41] ckadluba commented on #350
@sandersonsuprtek Please activate selflog as documented in the README under Troubleshooting and check the debug output for exceptions.

[2022-10-25 18:53] sandersonsuprtek commented on #350
Thank you. I figured it out finally and it is working now. It was System.Data.NoNullAllowedException. Column needed to allow nulls of course.

[2022-10-25 19:25] ckadluba commented on #350
You're welcome. I'm glad we could help. ☺️

[2022-10-26 13:35] wallyrion commented on #221
That would really helpful +1

[2022-10-28 13:40] Steve887 opened #433 "Logging to Azure SQL database not working"
I am using version 5.7.0 of the sink form a .Net framework app deployed to an Azure app service, logging to a database hosted in Azure SQL. When running the app locally, logs show up in the database correctly, however when deployed to an app service, no logs show up at all.

The app is long running so disposal is not a problem, and the connection is correct as the table is automatically created. I

[2022-10-31 16:34] talynone opened #434 "Latest Serilog.Sinks.MSSqlServer breaks SQL Server Cert Authentication"
When I updated Serilog.Sinks.MSSqlServer from 5.7.0 to 6.0.0 and then tried to query my entity DB Context (query unrelated to logging or Serilog) with any query (using SQL credentials) I get the following exception

`Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Prov

[2022-11-01 01:19] jonorossi commented on #434
Did you read the breaking change in the changelog for v6? `Microsoft.Data.SqlClient` now defaults to encryption on if the `Encrypt` parameter is not specified in the connection string.

[2022-11-01 02:56] talynone commented on #434
Yes, I read it, so if the default is on and I'm using the latest Microsoft.Data.SqlClient then why does encrypt on work fine for the SQL client when connecting to my entity context but breaks when adding the Serilog SQL sinks package? I would expect it to break even without Serilog if that's now the default for the base Microsoft package.

[2022-11-01 03:03] talynone commented on #434
I see it now, thanks.

[2022-11-01 03:03] #434 closed

[2022-11-03 17:01] szakula-hinda opened #435 "Ability to map structure log object properties to SQL Column"
The modern best practice for logging is to use structured logging, however this library lacks the ability to work with structured logging and map a structured object property to a SQL column.

I have searched the project and found this has been requested many times:
- https://github.com/serilog-mssql/serilog-sinks-mssqlserver/issues/419
- https://github.com/serilog-mssql/serilog-sinks-mssqlserver/

[2022-11-04 10:46] ckadluba commented on #433
If the MSSQL sink cannot write to the table it writes the exception to SelfLog but also rethrows. So you should see it in the logs\EventLog.xml file on the app service (accessible with Kudu). Please check there for errors.

[2022-11-06 01:02] #395 closed

[2022-11-06 01:15] ckadluba commented on #435
Hi @szakula-hinda!

Since so many people requested this, we should consider adding this. I'll think about a design.

In the mean time we are always happy to review good PRs that fit in and improve the sink. The PR you mentioned seemed not to provide the functionality you need.

Best regards,
Christian

[2022-11-06 01:19] ckadluba commented on #435
Actually this is a duplicate of #207 and therefore I will close this issue. Still we will consider to add this feature.

[2022-11-06 01:19] #435 closed

[2022-11-06 22:37] ckadluba commented on #435
@szakula-hinda one more thing came to my mind. Please take a look at Serilog.Expressions. According to documentation samples it can handle message templates and resolve child properties and even array indexes in the template holes.

Does this help with your requirements?

https://github.com/serilog/serilog-expressions

[2022-11-10 20:57] walterhuang commented on #393
Same here. Our company policy only allows using stored procedures for "security" reasons 😥

[2022-11-11 04:19] anandthirumala commented on #393
We were forced to use NLog for this reason. I prefer Serilog any day, but this is a limitation.

[2022-11-16 22:55] ckadluba commented on #362
Hi @FletcherJohnsonZ! Sorry for the long silence. We have updated the version of Microsoft.Data.SqlClient in the recent release 5.8.0 and then once more in the newest release 6.0.0. Can you try to update the sink to one of those releases? Possibly the problem you face is fixed by that.